
// 🎌 GLOBAL 🎌

.container, .header-inner, .footer-inner{
  @include width(4);
  margin: auto;
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    @include width(10);
  }
}

// 🎌 HEADER 🎌
    
header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-nav{
  @include clearfix;
  float: left;
  margin: 0;
  li{
    list-style-type: none;
    float: left;
    font-size: .8rem;
    // fix temp-height 
    a{
      color: $nav_links;
      font-weight: 200;
    }
    a:hover{
    color: lighten($nav_links, 10%);
    text-decoration: none;
    }
  }
  li::after{
      content: '\00a0\00a0/\00a0\00a0 ';
  }
  li:last-child::after{
  content: '';
  }
}
.header-inner {
  @include clearfix;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

// 🎌 HEADER: UTILITY NAVIGATION 🎌

.header-utility_nav{
  background-color: $nav_black;
}
.header-search{
  font-size: .7rem;
  position: relative;
  top: -.1rem;
  float: right;
  color: $nav_links;
  border: none;
  padding: 2px 4px;
  border-radius: 4px;
  @include responsive(small-screens){
    border: 1px solid $nav_gray;
    border-radius: 4px;
    padding: 2px 4px;
  }
  .search{
    width: .6rem;
    height: .6rem;
    position: relative;
    top: 1px;
  }
}
#search-path{
  fill: $nav_gray;
}
#circle-fill{
  fill: lighten($nav_black, 10%);
}
.header-search:hover{
  color: lighten($nav_links, 10%);
  text-decoration: none;
  background-color: lighten($nav_black, 10%);
}

// 🎌 HEADER: PRIMARY NAVIGATION 🎌

.header-site_nav{
  background-color: $nav_gray;
}
.logo{
  float: left;
  height: 1rem;
  position: relative;
  top: .04rem;
  margin-right: 1rem;
  @include responsive(small-screens){
    top: .02rem;
  }
  @include responsive(medium-screens){
    height: 1.5rem;
  }
}
.header-nav--main{
  @include clearfix;
  margin: 0;
  li{
    list-style-type: none;
    float: left;
    margin-right: .8rem;
    a{
      font-weight: bold;
      color: $nav_links-main;
    }
    a:hover{
      color: $nav_links-main--current;
      text-decoration: none;
    }
  }
  .current a{
    color: $nav_links-main--current;
  }
}
.header-nav-li--tiered{
  display: none;
  @include responsive(wide-screens){
    display: block;
  }
}

// 🎌 MAIN 🎌

.container-section{
  @include clearfix;
  margin-bottom: 2rem;
  border-bottom: 1px solid $nav_gray;
}
.content{
  padding-top: 9rem;
}

// 🎌 MAIN: RAIL  🎌

.section-rail{
  display: none;
}
.rail-nav-links{
  list-style-type: none;
  margin-left: 0px;
}

// 🎌 MAIN: PRIMARY  🎌

.section-primary{
  @include width(4);
  @include responsive(small-screens){
    @include width(6);  
  }
}

// 🎌 FOOTER 🎌

footer{
  background-color: $nav_black;
  padding-top: 2rem;
}
.footer-inner{
  min-height: 300px;
  @include clearfix;
}

// 🎌 FOOTER: NAV 🎌

.footer-nav{
  @include width(1);
  @include responsive(small-screens){
    @include width(1.5);
  }
  @include responsive(medium-screens){
    @include width(2);
  }
  float: left;
  margin-right: $gutter;
  ul{
    margin-left: 1px;
  }
  li{
    list-style-type: none;
    padding-left: none;
  }
}
.footer-nav:nth-child(5){
  margin-right: 0px;
  @include responsive(wide-screens){
    margin-right: $gutter;
  }
}
.footer-nav:nth-child(3){
  display: none;
  @include responsive(wide-screens){
    margin-right: 0px;
    display: block;
  }
}

// 🎌 FOOTER: BOTTOM 🎌

.footer-bottom{
  @include clearfix;
  clear: left;
  .logo--footer{
    position: relative;
    top: 2px;
    height: 10px;
    float: left;
    overflow: hidden;
    @include width(1);
    @include responsive(medium-screens){
      height: 20px;
      @include width(2);
    }
    margin-right: $gutter;
  }
  .footer-bottom-links{
    float: right;
    @include width(3);
    @include responsive(small-screens){
      @include width(5);
    }
    @include responsive(medium-screens){
      @include width(6);
    }
    @include responsive(wide-screens){
      @include width(8);
      text-align: right;
    }
  }
}



//----------LEGACY-----------\\




// 🎌 CONTAINER  🎌

// 🎌 MASTHEAD 🎌

// .header-title {
//   margin-top: 0;
//   margin-bottom: 0;
//   color: #505050;
// }
// .header-title a {
//   color: #505050;
// }
// .header-title small {
//   font-size: 75%;
//   font-weight: 400;
//   color: #c0c0c0;
//   letter-spacing: 0;
//   display: block;
// }

// 🎌 POSTS & PAGES 🎌
.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: $emphasis;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}