
// 🎌 HEROBOX 🎌
.gallery {
  background: #fff;
  padding-top: 7rem;
}

.gallery-cell {
  width: 100%;
  margin-right: 10px;
  background: #8C8;
}

/* cell number */
/*.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/
/* gallery height */
.gallery {
  height: 35rem;
}

/* cell inherit height from gallery */
.gallery-cell {
  height: 100%;
}
.gallery-cell--text{
  text-align: center;
  padding: 2rem 1rem 3rem 1rem;
}
.shader{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 10%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 10%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  position: relative;
  top: -10px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.flickity-prev-next-button .arrow {
  fill: $button-green;
}
.container.content.home{
  padding-top: 4rem;
}
.flickity-prev-next-button{
  top: 60%;
}
// 🎌 GLOBAL 🎌

.container, .header-inner, .footer-inner{
  @include width(4);
  margin: auto;
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    @include width(10);
  }
  @include responsive(ultra-wide-screens){
    @include width(12);
  }
}

// 🎌 HEADER 🎌

header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-nav{
  @include clearfix;
  float: left;
  margin: 0;
  li{
    list-style-type: none;
    float: left;
    font-size: .8rem;
    // fix temp-height
    a{
      color: $nav_links;
    }
    a:hover{
    color: lighten($nav_links, 10%);
    text-decoration: none;
    }
  }
  li::after{
      content: '\00a0\00a0/\00a0\00a0 ';
  }
  li:last-child::after{
  content: '';
  }
}
.header-inner {
  @include clearfix;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

// 🎌 HEADER: UTILITY NAVIGATION 🎌

.header-utility_nav{
  background-color: $nav_black;
}
.header-search{
  font-size: .7rem;
  position: relative;
  top: -.1rem;
  float: right;
  color: $nav_links;
  border: none;
  padding: 2px 4px;
  border-radius: 4px;
  @include responsive(small-screens){
    border: 1px solid $nav_gray;
    border-radius: 4px;
    padding: 2px 4px;
  }
  .search{
    width: .6rem;
    height: .6rem;
    position: relative;
    top: 1px;
  }
}
#search-path{
  fill: $nav_gray;
}
#circle-fill{
  fill: lighten($nav_black, 10%);
}
.header-search:hover{
  color: lighten($nav_links, 10%);
  text-decoration: none;
  background-color: lighten($nav_black, 10%);
}

// 🎌 HEADER: PRIMARY NAVIGATION 🎌

.header-site_nav{
  background-color: $nav_gray;
}
.logo{
  float: left;
  height: 1rem;
  position: relative;
  top: .04rem;
  margin-right: 1rem;
  @include responsive(small-screens){
    top: .02rem;
  }
  @include responsive(medium-screens){
    height: 1.5rem;
  }
}
.header-nav--main{
  @include clearfix;
  margin: 0;
  li{
    list-style-type: none;
    float: left;
    margin-right: .8rem;
    a{
      font-weight: bold;
      color: $nav_links-main;
    }
    a:hover{
      color: $nav_links-main--current;
      text-decoration: none;
    }
    a.active{
      color: $nav_black;
    }
  }
  .current a{
    color: $nav_links-main--current;
  }
}
.header-nav-li--tiered{
  display: none;
  @include responsive(wide-screens){
    display: block;
  }
}

// 🎌 MAIN 🎌

.container-section{
  @include clearfix;
  margin-bottom: 2rem;
  border-bottom: 1px solid $nav_gray;
}
.container-section:last-of-type{
  border-bottom: 0px;
}
.content{
  padding-top: 9rem;
  @include clearfix;
  padding-bottom: 9rem;
}
aside{
  padding: 1rem;
  background-color: $nav_gray;
  margin-bottom: 1rem;
}
// 🎌 MAIN: RAIL  🎌

.section-rail{
  display: none;
  @include responsive(medium-screens){
    display: block;
    float: left;
    @include width(2);
    margin-right: $gutter;
  }
  @include responsive(wide-screens){
    @include width(3);
  }
}
.rail-nav-links{
  list-style-type: none;
  margin-left: 0px;
}
// 🎌 MAIN: PRIMARY  🎌

.section-header{
  @include responsive(medium-screens){
    display: none;
  }
}
.section-primary{
  @include width(4);
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    float: right;
  }
  @include responsive(wide-screens){
    @include width(7);
  }
    @include responsive(ultra-wide-screens){
    @include width(9);
  }
}
.primary-block{
  margin-bottom: 1rem;
  img{
    width: 100%;
  }
}
.primary-block.split{
  margin-bottom: 1rem;
  @include responsive(small-screens){
    @include width(3);
  }
  @include responsive (small-screens){
    @include width(3);
  }
  @include responsive(wide-screens){
    @include width(3.5);
    margin-bottom: 1rem;
  }
  @include responsive(ultra-wide-screens){
    @include width(4.5);
  }
}
.primary-block.split.left{
  @include responsive(small-screens){
    float: left;
    margin-right: $gutter;
  }
  @include responsive(wide-screens){
    float: left;
    margin-right: $gutter;
  }
}
.primary-block.split.right{
  @include responsive(small-screens){
    float: right;
  }
  @include responsive(wide-screens){float: right;
  }
}
.primary-block--button{
  @include responsive(tiny-screens){
    display: block;
    width: 100%;
  }
  padding: 7px;
  background-color: lighten($button-green, 5%);
  color: $text-white;
  font-weight: 400;
  border-radius: 2px;
  display: block;
  width: 30%;
}
.primary-block--button:hover{
  background-color: darken($button-green, 10%);
  color: $text-white;
}
.primary-block{
  li{
  list-style-type: none;
  margin-bottom: 1.2em;
  }
  ul{
    margin-left: 0px;
  }
}
.redirect{
  height: 1rem;
  position: relative;
  top: .3rem;
  float: right;
}
.float-left{
  float: left;
  margin-right: .5rem;
  margin-top: .3rem;
  margin-bottom: 0;
  width: 30%;
  @include responsive(small-screens){
    width: 25%;
  }
}
// 🎌 FOOTER 🎌

footer{
  background-color: $nav_black;
  padding-top: 2rem;
  margin-top: 2rem;
}
.footer-inner{
  min-height: 300px;
  @include clearfix;
}

// 🎌 FOOTER: NAV 🎌

.footer-nav{
  @include width(1);
  @include responsive(small-screens){
    @include width(1.5);
  }
  @include responsive(medium-screens){
    @include width(2);
  }
  @include responsive(ultra-wide-screens){
    @include width(2.4);
  }
  float: left;
  margin-right: $gutter;
  ul{
    margin-left: 1px;
  }
  li{
    list-style-type: none;
    padding-left: none;
  }
}
.footer-nav:nth-child(5){
  margin-right: 0px;
}
.footer-nav:nth-child(3){
  display: none;
  @include responsive(wide-screens){
    margin-right: 0px;
    display: block;
  }
}

// 🎌 FOOTER: BOTTOM 🎌

.footer-bottom{
  @include clearfix;
  clear: left;
  .logo--footer{
    position: relative;
    top: 2px;
    height: 10px;
    float: left;
    overflow: hidden;
    @include width(1);
    @include responsive(medium-screens){
      height: 20px;
      @include width(2);
    }
    margin-right: $gutter;
  }
  .footer-bottom-links{
    float: right;
    @include width(3);
    @include responsive(small-screens){
      @include width(5);
    }
    @include responsive(medium-screens){
      @include width(6);
    }
    @include responsive(wide-screens){
      @include width(8);
      text-align: right;
    }
  }
}

// 🎌 MISC 🎌

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

// 🎌 MISC: TEXT-BOXES 🎌

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $emphasis;
  border-left: .25rem solid #e5e5e5;
  font-size: 1.1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border: 1px solid $nav-gray;
}

// 🎌 TABLES 🎌

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

// 🎌 ALERTS 🎌

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: lighten(#FA9A4B, 32%);
  border-radius: 5px;
}

// 🎌 NODE 🎌

.node-nav{
  @include clearfix;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.node-nav.working-dai{
  background-image: url(/assets/images/node/bits.jpg);
}
.node-nav.who-we-are{
  background-image: url(/assets/images/node/sunrise.jpg);
}
.node-nav.our-work{
  background-image: url(/assets/images/node/rice.jpg);
}
.node-nav.stories{
  background-image: url(/assets/images/node/bits.jpg);
}
.node-nav.news-publications{
  background-image: url(/assets/images/node/rice.jpg);
}

.node-nav--links{
  background-color: $nav-black;
  padding: 1rem;
  min-height: 10rem;
  @include responsive(small-screens){
    @include width(3);
    float: left;
  }
  @include responsive(medium-screens){
    @include width(4);
  }
}
.node-nav-banner{
  @include responsive(small-screens){
    @include full-width(3);
    float: right;
  }
  img{
    border: 0;
  }
}
img{
  width: 100%;
}

iframe{
  width: 100%;
  margin-bottom: 1rem;
  height: 143px;
  @include responsive(small-screens){
    height: 230px;
  }
  @include responsive(medium-screens){
    height: 310px;
  }
  @include responsive(wide-screens){
    height: 390px;
  }
  @include responsive(ultra-wide-screens){
    height: 470px;
  }
}

// 🎌 PEOPLE 🎌

.people-block{
  @include clearfix;
}
.people-photo{
  @include responsive(small-screens){
    width: 55%;
    float: left;
  }
}
.people-details{
  h3{
    margin-bottom: .1rem;
  }
  @include responsive(small-screens){
    width: 40%;
    float: right;
  }
}
.people-summary{
  clear: left;
  @include responsive(wide-screens){
    width: 40%;
    float: right;
    clear: none;
  }
}
.people-button{
  clear: both;
  @include responsive(wide-screens){
    clear: right;
    float: right;
    width: 40%;
  }
}
.experts-rail, .projects-rail, .stories-rail, .news-rail{
  @include responsive(wide-screens){
    width: 60%;
    float: left;
  }
}
.experts-filter, .projects-filter, .stories-filter, .news-filter{
  display: none;
  @include responsive(wide-screens){
    display: block;
    width: 35%;
    float: right;
  }
  a, button{
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: .5rem;
    background-color: $nav-gray;
    border: 1px solid $nav-gray;
    margin-bottom: .8rem;
    border-radius: 4px;
    font-size: .8rem;
    color: $nav_links-main;
    @include responsive(ultra-wide-screens){
      font-size: 1rem;
    }
    svg{
      height: .8rem;
      position: relative;
      top: .1rem;
      margin-right: .2rem;
      @include responsive(ultra-wide-screens){
        height: 1rem;
        top: .2rem;
      }
    }
  }
  a:hover, a.active, button:hover, button.active{
    color: $nav-black;
    border: 1px solid $nav-black;
  }
}
.filter--control{
  margin-bottom: 2rem;
}
.expert-details{
  @include clearfix;
}
.expert-details--title{
  font-weight: bold;
}
.expert-details--name{
  margin-bottom: 0;
}
.expert-details--photo{
  width: 40%;
  float: left;
  @include responsive(medium-screens){
    width: 30%;
  }
}
.expert-details--metadata{
  width: 55%;
  float: right;
  @include responsive(medium-screens){
    width: 65%
  }
}
.expert-solution, .expert-region{
  color: lighten($button-green, 5%);
}
.expert-solution:hover, .expert-region:hover{
  color: darken($button-green, 10%);
}
.expert-summary{
  clear: both;
}
.expert-details--list{
  list-style-type: none;
  margin-left: 0;
}
.badge{
  height: 1rem;
  position: relative;
  top: .2rem;
}
.svg-badge{
  fill: currentColor;
}
.contact{
  @include clearfix;
}
.contact-image{
  @include width(1.5);
  margin-top: .3rem;
  margin-right: $gutter;
  float: left;
  @include responsive(small-screens){
    @include width(2.5);
  }
}
.contact-summary{
  @include width(2.5);
  @include responsive(small-screens){
    @include width(3.5);
  }
  @include responsive(medium-screens){
    @include width(5.5);
  }
  @include responsive(wide-screens){
    @include width(7.5);
  }
  @include responsive(ultra-wide-screens){
    @include width(9.5);
  }
  float: right;
}
.contacts-button{
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

// 🎌 PROJECTS  🎌

.project-detail{
  margin-bottom: .3rem;
}
.project-name{
  margin-top: 2rem;
}
.project-details{
  margin: 2rem 0;
  padding: 1rem;
  background-color: $nav-gray;
}
