// 🎌 HEROBOX 🎌
.gallery {
  background: #fff;
  padding-top: 6.5rem;
}

.gallery-cell {
  width: 100%;
  margin-right: 10px;
  background: #8c8;
}

/* cell number */
/*.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/
/* gallery height */
.gallery {
  height: 35rem;
  @include responsive(extra-ultra-wide-screens) {
    height: 40rem;
  }
}

/* cell inherit height from gallery */
.gallery-cell {
  height: 100%;
}
.gallery-cell--text {
  text-align: left;
  padding: 2rem 1rem 3rem 0rem;
  margin-left: auto;
  margin-right: auto;
}
.hero-bar{
  display: block;
  width: 60px;
  height: 10px;
  background-color: white;
  margin-bottom: .8rem;
}
.shader {
  background: rgb(0,0,0);
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0.5970763305322129) 42%, rgba(0,0,0,0.4) 67%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0.5970763305322129) 42%, rgba(0,0,0,0.4) 67%, rgba(0,0,0,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0.5970763305322129) 42%, rgba(0,0,0,0.4) 67%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  position: absolute;
  bottom: -10px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.flickity-prev-next-button .arrow {
  fill: $dai-dark;
}
.container.content.home {
  padding-top: 4rem;
}
.flickity-prev-next-button {
  top: 60%;
}
.vid {
  video {
    /*filter: blur(2px);*/
    position: absolute;
    overflow: hidden;
    height: 300px;
    @include responsive(small-screens) {
      height: 400px;
    }
    @include responsive(medium-screens) {
      height: 500px;
    }
    @include responsive(wide-screens) {
      height: 610px;
    }
    @include responsive(ultra-wide-screens) {
      height: auto;
      top: -5%;
      width: 100%;
    }
  }
}
// 🎌 GLOBAL 🎌
.wrapper {
  @include clearfix;
}
body.st-ui-overlay-active {
  overflow: visible !important;
}
.container,
.header-inner,
.footer-inner, .gallery-cell--text {
  @include width(4);
  margin: auto;
  @include responsive(small-screens) {
    @include width(6);
  }
  @include responsive(medium-screens) {
    @include width(8);
  }
  @include responsive(wide-screens) {
    @include width(10);
  }
  @include responsive(ultra-wide-screens) {
    @include width(12);
  }
}
.promos .container,
.promos .header-inner,
.promos .footer-inner,
.country .container,
.country .header-inner,
.country .footer-inner{
  @include responsive(extra-ultra-wide-screens) {
    @include width(14);
  }
}
.covid .container,
.covid .header-inner,
.covid .footer-inner,
.country .container,
.country .header-inner,
.country .footer-inner,
.newpromo .container,
.newpromo .header-inner,
.newpromo .footer-inner{
  @include responsive(covid-screens) {
    @include width(16);
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(18);
  }
}

.covid .node-inner,.newpromo .node-inner {
  @include responsive(covid-screens) {
    @include width(12);
    float: left;
    margin-right: $gutter;
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(14);
    
  }
}

// 🎌 HEADER 🎌

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-nav {
  @include clearfix;
  float: left;
  margin: 0;
  li {
    list-style-type: none;
    float: left;
    font-size: 0.8rem;
    // fix temp-height
    a {
      color: $nav_links;
    }
    a:hover {
      color: lighten($nav_links, 10%);
      text-decoration: none;
    }
  }
  li::after {
    content: "\00a0\00a0/\00a0\00a0 ";
  }
  li:last-child::after {
    content: "";
  }
}
.header-inner {
  @include clearfix;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
// 🎌 HEADER: UTILITY NAVIGATION 🎌
.st-ui-injected-overlay-container *:not(select) {
  font-family: "proxima-nova", helvetica, arial, sans-serif !important;
  .st-ui-header input[type="text"]:focus {
    border-bottom: 2px solid $link-green !important;
  }
}
.st-ui-pagination-link {
  color: $link-green !important;
}
.st-ui-arrow {
  border-color: $link-green !important;
}
.st-default-search-input.header-search {
  display: none;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
  background-color: $nav-gray;
  font-size: 0.7rem;
  height: 0.7rem;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  border-style: solid;
  @include responsive(small-screens) {
    float: right;
    width: 4rem;
    padding-left: 0.5rem;
  }
  @include responsive(medium-screens) {
    display: block;
    padding-left: 1.5rem;
    background-size: 0.7rem;
    background-position: 0.4rem 0.4rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAIKSURBVHjatNbPi81RGMfx1x0zio3yKzOLiSLyK1OzYEpSczYUycbCQk3DJAsxZGejWSGh%2FFr5AyxQlJOkCZPFSGlKxmzMj0SymBoLZmzOrdPN%2Fd57p%2FFZnc%2Fz7fT%2BPs85z%2FP9lrq7u1XRahxEJ1rxC1MYxmP8gBijetRcBXARvWipsm8GNzGAn%2FWAmir8LrzHyQIILME5DIcQtjUK2osXWJPFXuIMDqQynseb7Pk6DIYQttQCldIZrcKHVDaYxNEE%2Fpf24T5WJj%2BKjhjjdK2MLmWQcewsgMATdOFb8utxoVbpluNYFuvBlzrK%2FimdZVl9IYSWItB%2BLE5%2BCM%2FUrwcYSesV2F0E2p75hxrTHB5lvrMI1Jb5zxrXaLZuLQL9zvyieYDypp8tAk1mftM8QBuz9UQRaDjzh1FqMJtDmX9dBHqKcqNtxZEGQD1Ym2Xztgg0jRtZ7BZ21AHpwtXMX4sxztaaDAP4mNbLMJjetqlKuU7hOZam2Fdcr2fWlcfIUGq8ssZSn4yls9uQBmx7RS%2BVcBd9Mca5WiDYnLq93ts3VdE7VWGVpRlBB%2FrxvQAwnuZcO65k8eO4HUIo1cooVwv2pLHSlj7lE3iHV%2FhT%2FpSHEC7jbLb3Hk7kmRWB6lL5n6EWrMkCKcbYX1HGXtwpl3HBQLVgCwoqgi04qApsptl%2FUoyxP4RQvr2n%2Fw4AIvqLpmbxnMcAAAAASUVORK5CYII%3D);
  }
  @include responsive(wide-screens) {
    width: 10rem;
  }
}
.st-ui-stamp {
  display: none !important;
}
.header-utility_nav {
  background-color: $slate;
  height: 32px;
  @include responsive(small-screens) {
    height: 44px;
  }
  @include responsive(medium-screens) {
    height: 59.188px;
  }
  @include responsive(wide-screens) {
    height: 64.594px;
  }
}
// 🎌 HEADER: PRIMARY NAVIGATION 🎌

.header-site_nav {
  background-color: $nav_gray;
  border-bottom: 1px solid lighten($slate, 60%);
}
.logo {
  float: left;
  height: 1rem;
  width: 56px;
  position: relative;
  top: 0.04rem;
  margin-right: 1rem;
  @include responsive(small-screens) {
    top: 0.02rem;
  }
  @include responsive(medium-screens) {
    height: 1.5rem;
    width: 96px;
  }
  @include responsive(wide-screens) {
    width: 108px;
  }
}
.header-inner--logo {
  display: block;
  float: left;
}
.header-nav--main {
  @include clearfix;
}
.header-nav--main {
  display: block;
  margin: 0;
  li {
    list-style-type: none;
    float: left;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    @include responsive(medium-screens) {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }
    @include responsive(medium-screens) {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }
    @include responsive(ultra-wide-screens) {
      margin-right: 0.8rem;
      margin-left: 0.8rem;
    }
    a {
      font-weight: bold;
      color: $nav_links-main;
    }
    a:hover {
      color: $nav_links-main--current;
      text-decoration: none;
    }
    a.active {
      color: $nav_black;
    }
  }
  .current a {
    color: $nav_links-main--current;
  }
}
.header-nav-li--tiered {
  display: none;
  @include responsive(wide-screens) {
    display: block;
  }
}
ul.dropdown {
  visibility: hidden;
  opacity: 0;
  margin-top: -3px;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out,
    margin-top 0.3s ease-in-out;
  list-style-type: none;
  position: absolute;
  margin-left: 0;
  padding: 1rem 0 0 0;
  // border-left: 1px solid lighten($slate, 60%);
  background-color: $nav_gray;
  width: 100px;
  @include responsive(small-screens) {
    width: 150px;
  }
  @include responsive(medium-screens) {
    width: 175px;
  }
  @include responsive(wide-screens) {
    width: 200px;
  }
  @include responsive(ultra-wide-screens) {
    width: 225px;
  }
  box-shadow: -5px 5px 5px rgba($nav-black, 0.1);
  li {
    float: left;
    // clear: right; Sems to be causing issues with the dropdowns in mobile safari and safari preview
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba($slate, 0.05);
    a {
      color: $nav_links_main;
      display: block;
      width: 100%;
      padding: 0.5rem;
    }
    &:hover {
      background-color: lighten($nav_links_main, 20%);
      cursor: pointer;
      a {
        color: $nav_black;
      }
    }
    &.active {
      background-color: lighten($nav_links_main, 20%);
      cursor: pointer;
      a {
        color: $nav_black;
      }
    }
  }
}

li.has-dropdown:hover ul.dropdown {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}
li.has-dropdown:hover > a {
  color: $nav_black;
}
// 🎌 MAIN 🎌

.container-section {
  @include clearfix;
  margin-bottom: 2rem;
  border-bottom: 1px solid $nav_gray;
}
.container-section:last-of-type {
  border-bottom: 0px;
}
.content {
  padding-top: 9rem;
  @include clearfix;
  padding-bottom: 9rem;
}
.content.hero {
  padding-top: 1rem;
}
aside {
  padding: 1rem;
  background-color: $nav_gray;
  margin-bottom: 1rem;
}
.block-people,
.block-project {
  @include responsive(wide-screens) {
    @include width(5);
  }
  @include responsive(ultra-wide-screens) {
    @include width(6);
  }
}
.block-people.tighten,
.block-project.tighten {
  @include responsive(wide-screens) {
    @include width(4);
  }
  @include responsive(ultra-wide-screens) {
    @include width(5);
  }
}
.block-people {
  @include responsive(wide-screens) {
    float: left;
    margin-right: $gutter;
  }
}
.block-project {
  @include responsive(wide-screens) {
    float: right;
  }
}
.nigeria-service--wrap {
  padding-top: 1rem;
  padding-left: 1rem;
}
.nigeria-service--block {
  @include clearfix;
  margin-bottom: 1rem;
  .text {
    width: 70%;
    float: left;
    margin-right: 10%;
  }
  .image {
    width: 20%;
    float: right;
  }
}
// 🎌 MAIN: RAIL  🎌

.section-rail {
  display: none;
  @include responsive(medium-screens) {
    display: block;
    float: left;
    @include width(2);
    margin-right: $gutter;
  }
  @include responsive(wide-screens) {
    @include width(3);
  }
}
.rail-nav-links {
  list-style-type: none;
  margin-left: 0px;
}
// 🎌 MAIN: PRIMARY  🎌

.section-header {
  @include responsive(medium-screens) {
    display: none;
  }
}
.section-primary {
  @include width(4);
  @include responsive(small-screens) {
    @include width(6);
  }
  @include responsive(medium-screens) {
    float: right;
  }
  @include responsive(wide-screens) {
    @include width(7);
  }
  @include responsive(ultra-wide-screens) {
    @include width(9);
  }
}
.primary-block {
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}
.primary-block.split {
  margin-bottom: 1rem;
  @include responsive(small-screens) {
    @include width(3);
  }
  @include responsive(small-screens) {
    @include width(3);
  }
  @include responsive(wide-screens) {
    @include width(3.5);
    margin-bottom: 1rem;
  }
  @include responsive(ultra-wide-screens) {
    @include width(4.5);
  }
}
.primary-block.split.left {
  @include responsive(small-screens) {
    float: left;
    margin-right: $gutter;
  }
  @include responsive(wide-screens) {
    float: left;
    margin-right: $gutter;
  }
}
.primary-block.split.right {
  @include responsive(small-screens) {
    float: right;
  }
  @include responsive(wide-screens) {
    float: right;
  }
}
.primary-block--button {
  @include responsive(tiny-screens) {
    display: block;
    width: 100%;
  }
  padding: 7px;
  background-color: $dai-gray-02;
  color: $text-white;
  font-weight: 400;
  border-radius: 2px;
  display: block;
  width: 30%;
}
.primary-block--button:hover {
  background-color: darken($dai-gray-02, 10%);
  color: $text-white;
}
.primary-block {
  li {
    list-style-type: none;
    margin-bottom: 1.2em;
  }
  ul {
    margin-left: 0px;
  }
}
.redirect {
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0.3rem;
  float: right;
}
.float-left {
  float: left;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  width: 30%;
  @include responsive(small-screens) {
    width: 25%;
  }
}
.primary-block img.float-left {
  float: left;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  width: 30%;
  @include responsive(small-screens) {
    width: 25%;
  }
}
.float-right {
  float: right;
  margin-left: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  width: 30%;
  @include responsive(small-screens) {
    width: 25%;
  }
}
.project-detail--solution-link:not(:last-child)::after {
  content: ",";
}

// CDA Insights
.insights {
  @include clearfix;
  h2 {
    margin-bottom: 1.5rem;
  }
  p {
    color: $emphasis;
  }
  div {
    margin-bottom: 1.5rem;
    @include clearfix;
    img {
      width: 150px;
      float: left;
      margin-right: 1rem;
      border: 0px;
    }
  }
  &.promo {
    padding-bottom: 0.5rem;
    div {
      margin-bottom: 0px;
    }
  }
}
// 🎌 Section Nav 🎌
.section-nav {
  color: white;
}
.section-nav .section-nav--link {
  font-size: 0.8rem;
  font-weight: 700;
  color: $dai-blue-01;
  &:hover {
    color: lighten($dai-blue-01, 10%);
  }
  &.active {
    color: $dai-light-gray;
  }
}
.hero-title--link {
  color: $text-white;
  &:hover {
    color: darken($text-white, 8%);
  }
  &.active {
    color: darken($text-white, 8%);
  }
}
.hero-title svg{

}
// 🎌 FORMS 🎌

.campaign-monitor .topic-checks {
  display: block;
  float: left;
  width: 30px;
  position: relative;
  top: 2px;
  @include responsive(medium-screens) {
    top: 5px;
  }
  clear: left;
}
.campaign-monitor,
.formkeep {
  input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid darken($nav_links, 10%);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: $emphasis;
  }
  .button {
    background-color: lighten($button-green, 5%);
    border: 0px;
    color: white;
    cursor: pointer;
  }
  .button:hover {
    background-color: darken($button-green, 10%);
  }
}
.wufoo-form {
  iframe {
    min-height: 1500px;
  }
}
input.checkbox,
input.radio {
  width: 1.5rem;
}
button.submit {
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.toc-right {
  @include responsive(wide-screens) {
    width: 30%;
    float: right;
    margin-left: 2rem;
    font-size: 0.9rem;
  }
}
// 🎌 Related 🎌
#last {
  clear: both;
}
#slidebox {
  z-index: 100;
  width: 40%;
  padding: 10px;
  background-color: $nav_gray;
  border-top: 3px solid $slate;
  position: fixed;
  bottom: 100px;
  right: -45%;
  box-shadow: 2px 5px 10px 1px rgba($emphasis, 0.6);
  .title {
    font-weight: bold;
  }
  .primary-block--button {
    font-size: 0.8rem;
    .redirect {
      height: 0.8rem;
    }
  }
}
#slidebox p {
  font-size: 0.7rem;
  color: #555;
}
#slidebox h2 {
  color: $dai-gray-02;
  font-size: 1.1rem;
  margin: 10px 20px 5px 0px;
}
a.close {
  width: 13px;
  height: 13px;
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 5px;
  color: $nav_black;
}
a.close:hover {
  background-position: 0px -13px;
}
// 🎌 Default 🎌

@include responsive(small-screens) {
  .contact-us {
    width: 40%;
  }
  .us {
    float: left;
  }
  .uk {
    float: right;
  }
}
.project-login {
  .region {
    margin-left: 1rem;
  }
}
.promos .node-inner {
  @include responsive(wide-screens) {
    @include width(8);
    float: left;
    margin-right: $gutter;
  }
  @include responsive(ultra-wide-screens) {
    @include width(10);
    float: left;
    margin-right: $gutter;
  }
}
.promos-list {
  float: left;
  margin-top: 1rem;
  @include responsive(wide-screens) {
    float: right;
    @include width(2);
    margin-top: 0.1rem;
  }
  @include responsive(extra-ultra-wide-screens) {
    @include width(4);
  }
}
.promo-item {
  p {
    font-size: 0.7em;
  }
  strong {
    color: $dai-hyperlink;
  }
  a:hover strong {
    color: $dai-hyperlink;
  }
}
// 🎌 FOOTER 🎌

footer {
  background-color: $slate;
  padding-top: 2rem; 
  margin-top: 2rem;
}
.footer-inner {
  min-height: 500px;
  @include clearfix;
}

// 🎌 FOOTER: NAV 🎌
.newpromo .footer-nav{
  @include responsive(covid-screens){
    @include width(3.2);
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(3.5);
  }
}
.footer-nav {
  @include width(1);
  @include responsive(small-screens) {
    @include width(1.5);
  }
  @include responsive(medium-screens) {
    @include width(2);
  }
  @include responsive(ultra-wide-screens) {
    @include width(2.4);
  }
  float: left;
  margin-right: $gutter;
  ul {
    margin-left: 1px;
  }
  li {
    list-style-type: none;
    padding-left: none;
  }
}
.country .footer-nav,
.promos .footer-nav {
  @include responsive(extra-ultra-wide-screens) {
    @include width(2.8);
  }
}
.covid .footer-nav{
    @include responsive(covid-screens){
    @include width(3.1);
  }
}
.footer-nav.working {
  margin-right: 0px;
}
.footer-nav.stories {
  display: none;
  @include responsive(wide-screens) {
    margin-right: $gutter;
    display: block;
  }
}
.footer-nav.news {
  text-align: right;
}
// 🎌 FOOTER: BOTTOM 🎌

.footer-bottom {
  position: relative;
  @include clearfix;
  clear: left;
  .logo--footer {
    position: relative;
    top: 2px;
    height: 25px;
    width: 100px;
    float: left;
    overflow: hidden;
    //  @include responsive(medium-screens){
    //    height: 55px;
    //    width: 220px;
    //  }
    //  @include responsive(wide-screens){
    //    height: 60px;
    //    width: 240px;
    //  }
    margin-bottom: 1rem;
  }
  .logo--footer--afiliate {
    position: relative;
    float: right;
    height: 60px;
    width: 94px;
    top: -0.9rem;
    @include responsive(medium-screens) {
      height: 96px;
      width: 159px;
      top: -0.8rem;
    }
    // @include responsive(wide-screens){
    //   height: 115px;
    //   width: 192px;
    // }
  }
  .footer-bottom-links {
    float: right;
    @include width(3);
    @include responsive(small-screens) {
      @include width(5);
    }
    @include responsive(medium-screens) {
      @include width(6);
    }
    @include responsive(wide-screens) {
      @include width(8);
      text-align: right;
    }
  }
}
.trademarked {
  display: block;
  position: absolute;
  color: white;
  left: -0.7rem;
  top: -0.3rem;
}
.legaleeze {
  font-size: 0.7rem;
  color: #c8c6c2;
  a {
    color: white;
    &:hover {
      color: darken(white, 10%);
    }
  }
}
// 🎌 MISC 🎌

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

// 🎌 MISC: TEXT-BOXES 🎌

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: $emphasis;
  border-left: 0.25rem solid #e5e5e5;
  font-size: 1.1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border: 1px solid $nav-gray;
}

// 🎌 TABLES 🎌

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

// 🎌 ALERTS & Related🎌

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: lighten(#fa9a4b, 32%);
  border-radius: 5px;
}
// 🎌 NODE 🎌
.hero-wrap.covid {
  background-image: url(/uploads/covid-background-header.jpg);
}
.hero-wrap.supply-chain {
  background-image: url(/uploads/supply-hero.jpg);
}
.hero-wrap.working-dai {
  background-image: url(/assets/images/node/people-header.jpg);
}
.hero-wrap.who-we-are {
  background-image: url(/assets/images/node/people-header.jpg);
}
.hero-wrap.our-work {
  background-image: url(/assets/images/node/map-header.jpg);
}
.hero-wrap.our-work.sustainable-business{
  background-image: url(/uploads/sustainable-header.jpg);
}
.hero-wrap.publications {
  background-image: url(/uploads/publications-hero.jpg);
}
// .hero-wrap.covid{
//   background-image: url();
// }
.hero-wrap.news {
  background-image: url(/uploads/news-hero.jpg);
}
.hero-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.5rem;
  margin-top: 65px;
  @include responsive(small-screens) {
    margin-top: 92px;
  }
  @include responsive(medium-screens) {
    margin-top: 114px;
  }
  @include responsive(wide-screens) {
    margin-top: 127px;
  }
}
.node-hero {
  @include clearfix;
  background-color: rgba($slate, 0.8);
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
  @include responsive(ultra-wide-screens) {
    padding-left: 4rem;
  }
  @include responsive(extra-ultra-wide-screens) {
    padding-left: 8rem;
  }
  h1 {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    svg {
      height: 4rem;
      width: 4rem;
      top: 0.5rem;
    }
  }
  .hero-excerpt {
    color: white;
    width: 75%;
    font-size: 1.2rem;
    @include responsive(wide-screens) {
      width: 70%;
    }
    @include responsive(ultra-wide-screens) {
      width: 65%;
    }
    @include responsive(extra-ultra-wide-screens) {
      width: 60%;
    }
  }
}

.node-nav-banner {
  @include responsive(small-screens) {
    @include full-width(3);
    float: right;
  }
  img {
    border: 0;
  }
}
img {
  width: 100%;
}

iframe {
  width: 100%;
  margin-bottom: 1rem;
  height: 143px;
  @include responsive(small-screens) {
    height: 230px;
  }
  @include responsive(medium-screens) {
    height: 310px;
  }
  @include responsive(wide-screens) {
    height: 390px;
  }
  @include responsive(ultra-wide-screens) {
    height: 470px;
  }
}
.newpromo iframe{
  @include responsive(extra-ultra-wide-screens){
    height: 560px;
  }
}

// 🎌 PEOPLE 🎌

.people-block {
  @include clearfix;
}
.people-photo {
  @include responsive(small-screens) {
    width: 55%;
    float: left;
  }
}
.people-details {
  h3 {
    margin-bottom: 0.1rem;
  }
  @include responsive(small-screens) {
    width: 40%;
    float: right;
  }
}
.people-summary {
  clear: left;
  @include responsive(wide-screens) {
    width: 40%;
    float: right;
    clear: none;
  }
}
.people-button {
  clear: both;
  @include responsive(wide-screens) {
    clear: right;
    float: right;
    width: 40%;
  }
}
.experts-rail,
.projects-rail,
.stories-rail,
.news-rail {
  @include responsive(wide-screens) {
    width: 60%;
    float: left;
  }
}
.experts-filter,
.projects-filter,
.stories-filter,
.news-filter {
  display: none;
  @include responsive(wide-screens) {
    display: block;
    width: 35%;
    float: right;
  }
  button {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    background-color: $nav-gray;
    border: 1px solid $nav-gray;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    font-size: 0.7rem;
    color: $nav_links-main;
    @include responsive(ultra-wide-screens) {
      font-size: 0.9rem;
    }
    svg {
      height: 0.8rem;
      width: 0.8rem;
      position: relative;
      top: 0.1rem;
      margin-right: 0.2rem;
      @include responsive(ultra-wide-screens) {
        height: 1rem;
        width: 1rem;
        top: 0.2rem;
      }
    }
  }
  button:hover,
  button.active,
  .is-checked {
    color: $nav-black;
    border: 1px solid $nav-black;
  }
}
.filter-reset {
  font-size: 0.8rem;
  display: inline-block;
  text-align: right;
  width: 100%;
}
.filter--control {
  margin-bottom: 2rem;
}
.expert-details {
  @include clearfix;
}
.expert-details--title {
  font-weight: bold;
}
.expert-details--name {
  margin-bottom: 0;
}
.expert-details--photo {
  width: 40%;
  float: left;
  @include responsive(medium-screens) {
    width: 31.5%;
  }
}
.expert-details--metadata {
  width: 55%;
  float: right;
  @include responsive(medium-screens) {
    width: 65%;
  }
}

.expert-summary {
  clear: both;
}
.expert-details--list {
  list-style-type: none;
  margin-left: 0;
}
.people-block img.team-pic {
  float: left;
  height: 7rem;
  width: 7rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}
.badge {
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0.15rem;
}
.svg-badge {
  fill: currentColor;
}
.contact {
  @include clearfix;
}
.contact-image {
  @include width(1.5);
  margin-top: 0.3rem;
  margin-right: $gutter;
  float: left;
  @include responsive(small-screens) {
    @include width(2.5);
  }
}
.promos .contact-summary {
  @include responsive(wide-screens) {
    @include width(5.5);
  }
  @include responsive(ultra-wide-screens) {
    @include width(7.5);
  }
}
.contact-summary {
  @include width(2.5);
  @include responsive(small-screens) {
    @include width(3.5);
  }
  @include responsive(medium-screens) {
    @include width(5.5);
  }
  @include responsive(wide-screens) {
    @include width(7.5);
  }
  @include responsive(ultra-wide-screens) {
    @include width(9.5);
  }
  float: right;
}
.contacts-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

// 🎌 PROJECTS  🎌

.project-detail {
  margin-bottom: 0.3rem;
}
.project-name {
}
.project-details {
  margin: 2rem 0;
  padding: 1rem;
  background-color: $nav-gray;
}

// 🎌 Country Pages  🎌

.country {
  aside {
    margin-bottom: 2rem;
    overflow: hidden;
    clear: left;
  }
  .infographic {
    @include responsive(wide-screens) {
      width: 40%;
      float: left;
      margin-right: 2rem;
      margin-top: 1rem;
    }
  }
  .country-people {
    @include clearfix;
    @include responsive(wide-screens) {
      width: 20%;
      float: right;
      margin-left: $gutter;
    }
    .country-people--block {
      width: 45%;
      float: left;
      &.first {
        margin-right: 5%;
      }
      margin-bottom: 1rem;
      @include responsive(wide-screens) {
        width: 100%;
      }
    }
    margin-bottom: 2rem;
    .block {
      margin-bottom: 2rem;
    }
    img {
      margin-bottom: 0.5rem;
    }
    .name {
      line-height: 1.2em;
      margin-top: 0;
    }
  }
}

// 🎌 Search Styles  🎌
#sbx-icon-search-13 {
  height: 0.6rem;
  width: 0.6rem;
  position: relative;
  top: -2.2rem;
  left: 0.4rem;
  @include responsive(small-screens) {
    height: 0.7rem;
    width: 0.7rem;
    top: -1.9rem;
  }
  @include responsive(wide-screens) {
    top: -1.9rem;
  }
}
.ais-search-box--reset svg {
  width: 0.4rem;
  height: 0.4rem;
  position: relative;
  top: -2px;
  @include responsive(small-screens) {
    width: 0.6rem;
    height: 0.6rem;
    top: -0.1rem;
  }
  @include responsive(wide-screens) {
    top: -0.1rem;
  }
}
.ais-search-box--reset {
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.ais-infinite-hits--showmore button {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  background-color: $nav-gray;
  border: 1px solid $nav-gray;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  font-size: 0.7rem;
  color: $nav_links-main;
  @include responsive(ultra-wide-screens) {
    font-size: 0.9rem;
  }
}
.ais-infinite-hits--showmore button:hover,
button.active,
.is-checked {
  color: $nav-black;
  border: 1px solid $nav-black;
}
.ais-infinite-hits--showmore button:disabled {
  display: none;
}
.refine-button .badge {
  margin-right: 0.4rem;
}
.refine-button {
}
#rev-box {
  width: 30%;
  float: left;
}
#refine {
  display: none;
  @include responsive(medium-screens) {
    display: block;
  }
  width: 30%;
  float: left;
  clear: left;
}
.ais-refinement-list--item {
  margin-bottom: 0.5rem;
}

#hits {
  width: 100%;
  @include responsive(medium-screens) {
    width: 65%;
    float: right;
  }
}

#search-box {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
.ais-search-box {
  position: relative;
}
.ais-search-box--reset {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0.8rem;
  right: 0.4rem;
}
.algolia__result-highlight {
  font-weight: bold;
}
h3.alg-title {
  color: $dai-hyperlink;
}
h3.alg-title:hover {
  color: darken($dai-hyperlink, 10%);
}
.facet-item {
  text-transform: capitalize;
}
#rev-box {
  margin-bottom: 1rem;
  @include clearfix;
}
.menu-item {
  cursor: pointer;
}
.menu-item--label {
}
.ais-menu--header,
.ais-refinement-list--header {
  margin-bottom: 1rem;
}
.refine-button {
  border: 1px solid #f2f0ed;
  border-radius: 4px;
  background-color: #f2f0ed;
  color: #aaa7a2;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  padding-left: 0.3rem;
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
}
.refine-button:hover {
  color: #1c242b;
  border: 1px solid #1c242b;
}
.ais-refinement-list--item__active .refine-button {
  color: #1c242b;
  border: 1px solid #1c242b;
}
.ais-menu {
  margin-bottom: 1rem;
}
.ais-menu--item {
  float: left;
  width: 100%;
  margin-bottom: 0.5rem;
  // @include responsive(medium-screens){
  //   width: 30%;
  //   margin-right: 1rem;
  //   margin-bottom: 0;
  // }
  border: 1px solid #f2f0ed;
  border-radius: 4px;
  background-color: #f2f0ed;
  color: #aaa7a2;
  padding: 0.5rem;
}
.ais-menu--item.ais-menu--item__active,
.ais-menu--item:hover {
  color: #1c242b;
  border: 1px solid #1c242b;
}
.ais-menu--list {
  clear: right;
}
.break {
  margin-bottom: 1rem;
}

// 🎌 PRINT STYLES  🎌
@media print {
  .container,
  .header-inner,
  .footer-inner {
    width: 100%;
  }
  .container {
    padding-top: 10px;
  }
  header,
  footer,
  .node-nav {
    display: none;
  }
  html {
    font-size: 18px;
  }
}
// 🎌 HAXORS  🎌

.content ul ul {
  margin-bottom: 0;
}

.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.paola-block {
  @include responsive(wide-screens) {
    width: 75%;
  }
}
iframe.last-month {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2200px;
  width: 300px;

  @include responsive(wide-screens) {
    width: 800px;
    height: 5606px;
  }

  @include responsive(ultra-wide-screens) {
    width: 800px;
    height: 5577px;
  }
}
.aside-quote {
  @include clearfix;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.accordion {
  .faq {
    a.accordion-header{
      cursor: pointer;
      display: block;
      padding: 15px;
      text-decoration: none;
      background-color: #56687b;
      color: white;
    }
    .faq-answer {
      padding: 1rem;
      margin: 0;
      background-color: #e4e5e6;
    }
  }
}

// Covid
// @todo abstract these covid styles into a new site wide promo style
.covid-news-wrapper,
.supply-chain--newswrapper,.climate-news-wrapper {
  display: none;
  @include width(4);
  float: right;
  @include responsive(covid-screens) {
    display: block;
  }
  .covid-list-item {
    display: block;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-bottom: 2rem;
    .covid-item-image {
      width: 100%;
      height: 150px;
      background-position: center;
      border-radius: 6px 6px 0px 0px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .covid-item-text {
      padding: 10px 15px;
      background-color: lighten (#e4e5e6, 5%);
      display: block;
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
}

.covid-title {
  margin-top: 2rem;
}
.covid-aside {
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include clearfix;
  .covid-contacts {
    @include clearfix;
    margin-bottom: 1rem;
    .covid-contact.one {
      float: left;
      margin-right: 1rem;
      width: 40%;
      line-height: 20px;
      @include responsive(wide-screens) {
        width: 30%;
      }
      text-align: center;
    }
    .covid-contact.two {
      float: right;
      width: 40%;
      line-height: 20px;
      @include responsive(wide-screens) {
        width: 30%;
      }
      margin-left: 1rem;
      text-align: center;
    }
  }
}

.covid-button {
  margin-top: 1rem;
  margin-bottom: 0px;
}
.covid-carousel {
  margin-top: 2rem;
  margin-bottom: 3rem;
  .flickity-prev-next-button.previous {
    left: 0px;
  }
  .flickity-prev-next-button.next {
    right: 14px;
  }
  .carousel-cell {
    a {
      display: block;
      width: 100%;
    }
    width: 100%;
    background-color: #e4e5e6;
    min-height: 600px;
    @include responsive(wide-screens) {
      width: 324px;
      margin-right: 48px;
    }
    @include responsive(ultra-wide-screens) {
      width: 265px;
      margin-right: 16px;
    }
    @include responsive(extra-ultra-wide-screens){
      width: 317px;
      margin-right: 16px;
    }
    img {
      margin-bottom: 1rem;
    }
    a:hover {
      text-decoration: none;
    }
    .year {
      padding: 0.5rem;
      background-color: #455560;
      h3 {
        display: block;
        color: white;
        font-weight: bold;
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }
    .title,
    .text {
      padding: 0 1rem;
      color: #515151;
    }
    .title {
      hr.bar {
        border-bottom: 5px solid #455560;
        width: 15%;
      }
    }
  }
}
.covid-carousel.sbg .carousel-cell{
  @include responsive(extra-ultra-wide-screens){
    width: 265px;
    margin-right: 16px;
  }
}
div.video-wrap {
  iframe {
    margin-bottom: 0px;
  }
  p.caption {
    padding: 1rem;
    background-color: rgba($slate, 0.05);
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 2rem;
  }
}

div.sharect {
  width: 88px;
  div > div {
    width: 30px;
  }
}
.eu-aside {
  margin-top: 2rem;
}
.locations-table {
  border: 0px;
  tr th,
  tr td {
    border: 0px;
    background-color: white !important;
    padding: 0px;
  }
}
.fcdo-aside {
  margin-top: 4rem;
  font-size: 0.9rem;
  & > p {
    margin-bottom: 0;
  }
}

// Bulma imports/modifiers
// Initial Variables Overwriting Defaults with DAI Brand Styles

// Text
$family-primary: "Helvetica", "Arial", "sans-serif";
$family-secondary: "Proxima-Nova", "Helvetica", "Arial", "sans-serif";
$body-family: $family-secondary;

// Primary Colors
$green: #8fc73e;
$blue: #a1c7e3;
$grey-dark: #455560;

// Neutral Pallete
$grey: #56687b;
$grey-light: #e4e5e6;
$green-light: #d1e6c8;
$beige: #dad2c8;

//Accent Pallette
$purple: #8060a9;
$indigo: #445791;
$cyan: #1d81bf;
$turquoise: #96d5d2;
$sea-foam: #b0dbbc;
$yellow: #f9cc73;
$orange: #f36c23;
$red: #da1d45;
$brown: #663d3b;

//Derived Variables
$primary: $grey;
$info: $blue;
$success: $green;
$link: $cyan;
$text: $grey-dark;

//navbar variables
$navbar-background-color: $grey-dark;
$navbar-item-color: $grey-light;
$navbar-item-hover-background-color: $grey;
$navbar-item-hover-color: white;
$navbar-dropdown-arrow: $grey-light;
$navbar-dropdown-background-color: $grey-dark;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $grey;

// blockquote variables
$content-blockquote-background-color: $grey-dark;
$content-blockquote-border-left: 0px;
$content-blockquote-padding: 7rem;

.bulma {
  // importing bulma under .bulma to force a namespace for it
  @import "bulma.sass";
  // undo dai styles that are leaking through and fucking with bulma styles
  div {
    width: auto;
  }
  .content {
    padding: 0;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  .card {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
}

.bulma .card {
  box-shadow: 0px 2px 60px 0px rgba(160, 179, 198, 0.47);
}
.bulma .card-content .image {
  clip-path: circle(49%);
  -webkit-clip-path: circle(49%);
}

a.bulma-card {
  &:hover {
    .card {
      box-shadow: 0px 2px 60px 0px rgba(118, 132, 146, 0.47);
    }
  }
}
.eu-badge{
  margin-top: 2rem;
  @include clearfix;
  img{
    display: block;
    float: right;
    width: 300px;
  }
}

.translations{
  width: 20%;
  float: right;
  a{
    font-size: 0.8rem;
    font-weight: 700;
    
    text-transform: uppercase;
    &.active{
      color: lighten($dai-blue-01, 10%);
    }
  }
}

ol li::marker{
  text-align: center !important;
  font-family: monospace;
}

.covid-carousel.climate{
  div.image{
    img{
      min-height: 150px;
    }
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
  }
}
.deei-carousel{
  .flickity-page-dots{
    bottom:-10px;
  }
  div.image{
    img{
      // min-height: 485px;
      margin-bottom: 0;
    }
    height: 150px;
    @include responsive(medium-screens){
      height: 285px;
    }
    @include responsive(wide-screens){
      height: 385px;
    }
    @include responsive(ultra-wide-screens){
    height: 485px;
    }
    overflow: hidden;
    margin-bottom: 10px;
  }
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.brief-aside{
  @include clearfix;
}
.bulma .fb-pub-buttons{
  background-color: #85c481;
  color: white;
}
.bulma .fb-pub-buttons:hover{
  color: white;
  background-color: #54aa4f
}
.bulma .site-buttons{
  background-color: #56687b;
  color: white;
}

.bulma .site-buttons:hover{
  background-color: #516273;
  color: white;
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bm--card-equal-height .card-footer {
  margin-top: auto;
}
.card.is-fullheight{
  height: 100%;
  display: flex;
  flex-direction: column;

  .card-content {
      margin-bottom: auto;
  }
  .card-footer {
      margin-top: auto;
    .button {
      border-radius: 0;
    }
  }
}
.enterprise-innovation{
  margin-top: 2rem;
  margin-bottom: 2rem;
  .card{
    box-shadow: none;
    border: 1px solid lighten(#85c481, 15%);
  }
}

.modal-link{
  cursor: pointer;
}

.card.forthcoming{
  p,p.title{
    color: $grey-light;
  }
  .fb-pub-buttons{
    background-color: $grey-light;
    &:hover{
      background-color: $grey-light;
    }
  }
  a{
    cursor: not-allowed;
  }
  .content p em{
    border-bottom: 1px solid #e4e5e6;
  }
}
.bulma .card-footer{
  margin-top: 0;
}

.bulma{
  .dai-button{
  background-color: $dai-gray-02;
  color: white;
  &:hover{
    background-color: darken($dai-gray-02, 10%);
    color: white;
  }
}
.close{
  color: $grey-dark;
}
}
.covid-carousel.solution-case-study{
  .carousel-cell{
    li{
      margin-bottom: 0px;
    }
    @include responsive(wide-screens) {
      width: 100%;
      min-height: 100%;
    }
    @include responsive(extra-ultra-wide-screens){
      width: 484px;
      margin-right: 16px;
      min-height: 100%;
    }
  } 
} 
.bulma .card-image-pad{
  padding: 1rem;
  img{
    border: 0px;
  }
}
.bulma .card-content.health img{
  clip-path: none;
  border: none;
}
.bulma .card-content.health figure{
  clip-path: none;
}
.bulma .card-health{
  &:hover {
    .card {
      box-shadow: 0px 2px 60px 0px rgba(118, 132, 146, 0.47);
    }
  }
}
.health-principles{
  .icon{
    font-size: 2rem;
  }
}

.covid-carousel.climate.equal-height .carousel-cell{
  display: flex;
  align-items: stretch;
  min-height: 100%;
}
.bulma.enterprise-innovation.practice-leaders .bulma-card .card{
  height: 100%;
}
.covid-carousel.climate.localization.equal-height{
  height: 500px;
  @include responsive(medium-screens){
    height: 100%;
  }
}
.covid-carousel.climate.solution-case-study{
  .image{
    height: 18rem;
    @include responsive(ultra-wide-screens){
      height: 15rem;
    }
  }
}
.cop-event-header{
  padding-left: 0; 
  margin-left: 0;
}
.cop-event-header li{
  margin-bottom: 0;
  list-style-type: none;
}
.bulma.cop27 li{
  list-style-type: none;
}

.faq-wrap.accordion.cop27{
  .faq{
    border-bottom: 1px solid white;
  }
  a.accordion-header{
   li:first-of-type{
    font-weight: bold;
   }
  }
}
.deei-mosaic{
  // width: 99vw;
  margin-bottom: 2rem;
  margin-top: 2rem;
  // margin-left: -50vw;
  // left: 50%;
  // position: relative;
  // right: 50%;
  // margin-right: -50vw;
  height: 400px;
  background-image: url('/uploads/deei-mosaic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
svg.newIcons{
  height: 1rem;
  width: 1rem;
  position: relative;
  top: .2rem;
  .st0, .st2, .st3, .st4{
    fill: currentColor;
  }
  .st1{
    fill: #ACC6E1;
  }
}