
// 🎌 Variables 🎌


// 🎌 Weights 🎌
/*
thin: 100
light: 300
regular: 400
bold: 700
black: 900

*/
// Colors
$emphasis: #313437;
$nav_black: #1c242b;
$nav_gray: #f2f0ed;
$link_green: #74BC70;
$nav_links: #F2F0ED;
$nav_links-main: #aaa7a2;
$nav_links-main--current: #323940;
$slate: #455560;
$nav_links-footer--blue: #8FC3EA;
$button-green: rgb(116, 188, 112);
$text-white: rgb(255, 255, 255);
$node-nav--inactive: #c8c6c2;

//new-dai-brand
$dai-blue-01: #a1c7e3;
$dai-green: #9bce36;
$dai-dark: #404d59;
$dai-gray-02: #56687b;
$dai-light-blue: #d3e3f0;
$dai-light-green: #e3eedd;
$dai-light-gray: #e4e5e6;
$dai-beige: #dad2c8;
$dai-hyperlink: #1e7ab3;

// Widths
$width-tiny: 240px; //4bits
$width-small: 480px; //6bits
$width-medium: 600px; //8bits
$width-wide: 800px; //10bits
$width-ultra-wide: 960px; //12bits
$width-covid: 1190px;
$width-extra-ultra-wide: 1400px;

// 🎌 MIXINS 🎌

// Responsive mixin for bubbled media-querries
@mixin responsive($width){
  @if $width == tiny-screens{
    @media screen and (min-width: $width-tiny){
      @content;
    }
  }
  @else if $width == small-screens{
    @media screen and (min-width: $width-small){
      @content;
    }
  }
  @else if $width == medium-screens{
    @media screen and (min-width: $width-medium){
      @content;
    }
  }
  @else if $width == wide-screens{
    @media screen and (min-width: $width-wide){
      @content;
    }
  }
  @else if $width == ultra-wide-screens{
    @media screen and (min-width: $width-ultra-wide){
      @content;
    }
  }
  @else if $width == covid-screens{
    @media screen and (min-width: $width-covid){
      @content;
    }
  }
    @else if $width == extra-ultra-wide-screens{
      @media screen and (min-width: $width-extra-ultra-wide){
        @content;
      }
    }
}
