// 🎌 HEROBOX 🎌
.gallery-cell .gallery-cell--text{
  h2{
    font-size: 3rem;
    @include responsive(small-screens){
      font-size: 4rem;
    }
    color: $text-white;
    margin-bottom: 0;
    font-weight: 300;
  }
  p{
    color: $text-white;
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 1.5rem;
  }
}
.gallery-subhead{
  font-weight: 700;
}
// 🎌 GLOBAL 🎌
html {
  line-height: 1.5;
  font-size: 10px;
  @include responsive(small-screens){
    font-size: 14px;
  }
  @include responsive(medium-screens){
    font-size: 16px;
  }
  @include responsive(wide-screens){
    font-size: 18px;
  }
}
body{
  font-family: helvetica, arial, sans-serif;
  visibility: hidden;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.wf-inactive body{
  display: block;
  visibility: visible;
}
.wf-active body{
  font-family: 'proxima-nova', helvetica, arial, sans-serif;
  display: block;
  visibility: visible;
}
a {
  color: darken($button-green, 10%);
  text-decoration: none;
}
a:hover,
a:focus {
  color: darken($button-green, 20%);
  text-decoration: none;
}

// 🎌 HEADINGS 🎌

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
  font-weight: 700;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4, h5, h6 {
  font-size: 1.2rem;
  font-weight: 700;
}
.header-nav{
  li a{
    font-weight: regular;
  }
}
.header-nav--main{
  li{
    font-size: .8rem;
    @include responsive(small-screens){
      font-size: .9rem;
    }
    @include responsive(medium-screens){
      font-size: 1.1rem;
    }
    @include responsive(wide-screens){
      font-size: 1rem;
    }
  }
}

// 🎌 MAIN 🎌
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}
p {
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  font-weight: 300;
}
.message{
  font-size: 1.2rem;
}
blockquote{
  font-size: 1.3rem;
  p{
    margin-top: 0;
  }
  @include responsive(small-screens){
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}
strong {
  color: #303030;
}
.rail-nav-links{
  li{
    font-size: .9rem;
  }
  li a{
    display: block;
    color: $nav_black;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .3rem;
    padding-right: .3rem
  }
  li a:hover{
    background-color: $nav_black;
    color: white;
    border-radius: 2px;
  }
}
.node-nav--links .rail-nav-links a:hover{
  background-color: rgba($nav_gray, 0.1);
  border-radius: 2px;
}
.rail-nav{
  h4{
    font-size: 1rem;
    margin-bottom: .4em;
    padding-left: .3rem;
    line-height: 1.1rem;
  }
  a{
    line-height: 1.1rem;
  }
}
.primary-block h3{
  font-size: 1.3rem;
  font-weight: 700;
}
.primary-block--solution{
  @include responsive(medium-screens){
    font-size: .9rem;
  }
  @include responsive(wide-screens){
    font-size: 1rem;
  }
}
.disclaimer{
  font-size: .8rem;
}

// 🎌 NODE 🎌

.node-nav--links{
  h4{
    color: $text-white;
  }
  li a{
    color: $node-nav--inactive;
    line-height: 1.1rem;
  }
  li a.active{
    color: $text-white;
    background-color: rgba($nav_gray, 0.1);
  }
}
.article-publication{
  font-style: italic;
  font-size: .7rem;
  padding: .3rem;
  background-color: $nav-gray;
  border-radius: 2px;
}
// 🎌 Solutions 🎌
.solution-title{
  svg{
    height: 2rem;
    width: 2rem;
    top:.5rem;
  }
}
h2.solution-title svg{
  height: 1.3rem;
  width: 1.3rem;
  top: .12rem;
}

// 🎌 LEADERS 🎌
.leaders-details p{
  font-weight: bold;
}

// 🎌 FOOTER 🎌

.footer-nav{
  h4{
    color: $nav_links-footer--blue;
    font-size: .6rem;
    font-weight: normal;
    @include responsive(small-screens){
      font-size: .7rem;
    }
    @include responsive(wide-screens){
      font-size: .9rem;
    }
  }
  li{
    font-size: .5rem;
       @include responsive(small-screens){
      font-size: .6rem;
    }
      @include responsive(wide-screens){
        font-size: .8rem;
    }
  }
  li a{
    color: $nav_links;
  }
  li a:hover{
    color: lighten($nav_links, 10%);
  }
}
.footer-nav.working{
  text-align: right;
}
.footer-bottom-links{
  font-size: .6rem;
  line-height: .9rem;
}
.footer-bottom-link{
  color: $nav_links
}
.footer-bottom-link:hover{
  color: lighten($nav_links, 10%);
}
.footer-bottom-link::after{
  content: '\00a0\00a0/\00a0\00a0 ';
  color: $nav_links;
}
