<div class="projects-rail grid">{% for project in site.projects %}
  <div class="project-block grid-item {% for solution in project.solutions %} {{ solution | slugify }} {% endfor %}{% for region in project.regions %} {{ region | slugify}} {% endfor %} {% for client in project.client %} {{ client | slugify }} {% endfor %}">
    <h3>{{ project.title }}</h3>
    <p>{{ project.summary }}</p>
    <a href="{{ project.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <hr>
  </div>{% endfor %}
</div>
