<div class="covid-carousel sbg">
  <div class="carousel-cell">
    <div class="year">
      <h3>Module 1</h3>
    </div>
    <div class="image"><img src="/uploads/master-class-module-1.jpg" alt=""></div>
    <div class="title">
      <h2>Local Content Policy, Regulation and Forecasting
        <hr class="bar">
      </h2>
    </div>
    <div class="text">
      <p>Examines local content laws, regulations and policies around the world and prepares participants to forecast goods, services and workforce local content scenarios.</p>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="year">
      <h3>Module 2</h3>
    </div>
    <div class="image"><img src="/uploads/master-class-module-2.jpg" alt=""></div>
    <div class="title">
      <h2>Local Content Plans, Procurement and Reporting
        <hr class="bar">
      </h2>
    </div>
    <div class="text">
      <p>Trains practitioners on the methods for selecting the right metrics and key performance indicators, establishing the right data collection and analysis, processes and standards, and “telling the story”.</p>
    </div>
  </div>
  <div class="carousel-cell">
    <div class="year">
      <h3>Module 3</h3>
    </div>
    <div class="image"><img src="/uploads/master-class-module-3.jpg" alt=""></div>
    <div class="title">
      <h2>Local Supplier Development
        <hr class="bar">
      </h2>
    </div>
    <div class="text">
      <p>Teaches the use of data and analytics to structure various types of capacity building and local content programs that are commercially effective and economically beneficial.</p>
    </div>
  </div>
</div>