<script>
  var queryValues = {};

  $.each(window.location.href.split('?').pop().split('&'), function (i, v) {
    var v = v.split('=');
    if (v.length > 1) // prevent v\[1\] from erroring if no querystring present
      queryValues[v[0].toLowerCase()] = v[1].toLowerCase();
  });

  if (queryValues.submit == 'success') {
    $('#theForm').css('display', 'none');
    $('#theForm-success').css('display', 'block');
  }

  if (typeof queryValues.source != "undefined") {
    var source = queryValues.source;
    $('#source').prop("value", source);
  }
  if (typeof queryValues.campaign != "undefined") {
    var campaign = queryValues.campaign;
    $('#campaign').prop("value", campaign);
  }

</script>

<script>
$('.covid-carousel').flickity({
// options
cellAlign: 'left',
contain: true,
autoPlay: false,
wrapAround: false,
});
</script>