sudo: required
dist: trusty
language: node_js
node_js:
  - "0.12"
language: ruby
rvm:
- 2.3.4
cache:
  bundler: true
  directories:
    - node_modules

script:
  - npm install -g gulp
  - npm install --save-dev gulp
  - npm install
  - gulp aggregate
  - bundle exec jekyll algolia --config _config_prod.yml
  - JEKYLL_ENV=prod bundle exec jekyll build --config _config_prod.yml

before_deploy:
  - chmod +x deploy.sh

deploy:
  provider: script
  script: ./deploy.sh
  skip_cleanup: true
