sudo: required
dist: trusty
language: node_js
node_js:
  - "0.12"
language: ruby
rvm:
- 2.3.4
install:
- gem install bundler
cache:
  bundler: true
  directories:
    - node_modules

script:
  - npm install -g gulp
  - npm install --save-dev gulp
  - npm install
  - gulp aggregate
  # - bundle exec jekyll algolia --config _config_prod.yml
  - JEKYLL_ENV=prod bundle exec jekyll build --config _config_prod.yml

before_deploy:
  - chmod +x deploy.sh

deploy:
  provider: script
  script: ./deploy.sh
  skip_cleanup: true

notifications:
  webhooks: https://outlook.office.com/webhook/e230676a-fcbc-477b-ba3a-b990baceca0a@7107113d-e20b-4c20-a4ce-553cabbf686d/TravisCI/c10a218fa1554b6f86e98870bd957e54/9025e18f-45f0-4c00-a56b-5e8a0c10503d
