---
layout: default
title: Home
---

<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": true, "setGallerySize": false }'>
  <a class="gallery-cell" style="background: url(/uploads/cambodia.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"  href="">
    <div class="shader">
              <div class="gallery-cell--text">
                <h2>Tech Lab Training</h2>
                <p>Filling the void in Cambodia</p>
              </div>
          </div>
  </a>
  <a class="gallery-cell" style="background: url(/uploads/law_and_justice.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="">
    <div class="shader">
              <div class="gallery-cell--text">
                <h2>Law and Justice</h2>
                <p>Enhancing traditional service in Sierra Leone</p>
              </div>
          </div>
  </a>
    <a class="gallery-cell" style="background: url(/uploads/lab.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="">
      <div class="shader">
                <div class="gallery-cell--text">
                  <h2>Addressing Emerging Pandemic Threats</h2>
                  <p>DAI and partners focus on Ebola for USAID</p>
                </div>
            </div>
    </a>
</div>
<br>
<br>
{% include _home/who-we-are.html %}
{% include _home/our-work.html %}
{% include _home/stories.html %}
{% include _home/news.html %}
{% include _home/working.html %}
