<div class="covid-carousel climate">
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/the-crucial-role-of-social-protection-systems-in-building-resilience-to-climate-risks">
      <!-- <div class="year"><h3>Climate Futures Webinar Series</h3></div> -->
        <div class="image"><img src="/uploads/social-protection-promo.jpg" alt=""></div>
        <div class="title"><h2>The Crucial Role of Social Protection Systems in Building Resilience to Climate Risks<hr class="bar"></h2></div>
        <div class="text"><p>Already facing severe climate-related disruptions, Bangladesh is now enduring the additional economic and human development setback of the COVID-19 pandemic.</p></div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="/our-work/projects/indonesia-community-based-avian-influenza-control-cbaic-project">
      <!-- <div class="year"><h3>Climate Futures Webinar Series</h3></div> -->
        <div class="image"><img src="https://dai-assets.s3.us-east-1.amazonaws.com/climate/webinar.png" alt=""></div>
        <div class="title"><h2>Climate Futures Webinar Series: The Future of Mitigation<hr class="bar"></h2></div>
        <div class="text"><p>Mitigation measures are crucial to addressing the climate change crisis.</p></div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="">
        <div class="image"><img src="https://dai-assets.s3.us-east-1.amazonaws.com/climate/webinar-2.png" alt=""></div>
        <div class="title">
          <h2>Climate Futures Webinar Series: The Future of Adaptation
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>The webinar explored six areas that need to be addressed for climate adaptation measures to be effective and sustainable: governance; inclusion; integration; climate services; finance; and knowledge and learning.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/q-and-a-with-donald-lunan-head-of-dais-new-climate-business?utm_source=daidotcom?utm_source=daidotcom">
        <div class="image"><img src="/uploads/blue-marble-hero.jpg" alt=""></div>
        <div class="title">
          <h2>Q&A with Donald Lunan: Head of DAI's New Climate Business Unit
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>DAI has been working on climate change issues for many years—why launch a distinct business unit focused on climate?</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/Swift-And-Fair?utm_source=daidotcom?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/A%20Landscape%20of%20LIFT%20Operational%20Area,%20EmbaAlaje%20Woreda,%20Tigray%20Region-7df9e5.JPG" alt=""></div>
        <div class="title">
          <h2>2030: The Transition to a Low-Carbon Economy Must be Swift—and Fair
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>The next 10 years are make-or-break for our climate. To limit the rise in global temperature to less than 2 degrees Celsius, we must achieve significant progress on emissions reductions by 2030.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="/news/dai-commits-to-science-based-targets-initiative-to-reduce-greenhouse-gas-emissions">
        <div class="image"><img src="/uploads/science-based-targets.png" alt=""></div>
        <div class="title">
          <h2>DAI Commits to Science Based Targets Initiative to Reduce Greenhouse Gas Emissions
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>DAI has signed on to the Science Based Targets initiative (SBTi), part of a company-wide effort to act against climate
          change.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/how-a-place-based-approach-built-climate-resilience-in-indonesia?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/sm-f06df5.jpg" alt=""></div>
        <div class="title">
          <h2>How a Place-based Approach Built Climate Resilience in Indonesia
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>Indonesia knows climate and disaster risk: a vast archipelago of more than 18,000 islands and 230 million people, the country faces earthquakes, tsunamis, volcanic eruptions, drought, and rising sea level.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/agriculture-finance-with-a-climate-lens-takes-off-in-kenya?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/MFI.jpg" alt=""></div>
        <div class="title">
          <h2>Agriculture Finance with a Climate Lens Takes Off in Kenya
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>The effects of climate change in the already arid lands of Kenya are particularly tough on its economy. Think: tourism, arable agriculture, horticulture, floriculture, and livestock—all vulnerable to extreme changes in weather.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/tapping-climate-change-adaptation-financing-for-the-benefit-of-the-rural-poor-of-the-mekong-basin?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/Devs----Climate-Finance-4.jpg" alt=""></div>
        <div class="title">
          <h2>The Key to Sustainable Local Climate Change Adaptation in the Mekong Basin
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>For more than two decades, climate change policy makers have focused on mitigating global warming by reducing carbon emissions and protecting and expanding natural ecosystems as carbon sinks.</p>
        </div>
      </a>
    </div>
</div>

<script> 
  $('.covid-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 1700,
  wrapAround: true,
});
</script>