<div class="covid-carousel climate equal-height">
  <div class="carousel-cell">
    <a href="https://dai-global-developments.com/articles/mexico-toward-a-gender-sensitive-energy-transition/">
      <div class="image"><img src="https://images.unsplash.com/photo-1493794179168-82ca7cb00437?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDQ4fHxtZXhpY298ZW58MHx8fHwxNjY1NzY0NjAy&ixlib=rb-1.2.1&q=80&w=2000" alt=""></div>
      <div class="title"><h2>Mexico: Toward a Gender-Sensitive Energy Transition<hr class="bar"></h2></div>
      <div class="text"><p>The recently concluded Mexico Clean Energy Programme (MCEP) was a collaboration between the U.K. Government and the Mexican energy sector to facilitate the latter’s transition to greener, more sustainable energy sources and practices.</p></div>
    </a>
  </div>
  <div class="carousel-cell">
    <a href="https://dai-global-developments.com/articles/financing-sustainable-land-use-three-models-from-brazil/">
      <div class="image"><img src="https://dai-global-developments.com/assets/images/2022/05/image-2.jpeg" alt=""></div>
      <div class="title"><h2>Financing Sustainable Land Use—Three Models From Brazil<hr class="bar"></h2></div>
      <div class="text"><p>Spurred on by decarbonization commitments, governments and the private sector are looking for new ways of reducing emissions to achieve Net Zero targets.</p></div>
    </a>
  </div>
  <div class="carousel-cell">
    <a href="https://dai-global-developments.com/articles/green-bonds-and-good-governance-accelerate-investment-in-climate-smart-solutions-in-egypt/">
      <div class="image"><img src="https://dai-global-developments.com/assets/images/2022/05/image-13.jpeg" alt=""></div>
      <div class="title"><h2>Green Bonds and Good Governance<hr class="bar"></h2></div>
      <div class="text"><p>Egypt—one of the world’s hotspots for extreme climate vulnerability—is at increasing risk of sea-level rise, water scarcity, and extreme weather events, which could damage the country’s infrastructure, food security, human health, and ecosystems, threatening its macroeconomic stability and long-term competitiveness.</p></div>
    </a>
  </div>
  <div class="carousel-cell">
    <a href="https://dai-global-developments.com/articles/green-africa-development-justice-and-resilience/">
      <div class="image"><img src="https://dai-global-developments.com/assets/images/2022/07/usgs-Azmw4a_xIcI-unsplash.jpg" alt=""></div>
      <div class="title"><h2>Green Africa: Development, Justice, and Resilience<hr class="bar"></h2></div>
      <div class="text"><p>The most recent Intergovernmental Panel on Climate Change report was a stark reminder of the consequences of inaction on climate change. Global warming, it showed, is harming low-income countries the most.</p></div>
    </a>
  </div>
  <div class="carousel-cell">
    <a href="https://dai-global-developments.com/articles/south-africas-green-energy-transformation-is-a-test-case-we-should-all-be-watching/">
      <div class="image"><img src="https://dai-global-developments.com/assets/images/2022/05/albert-hyseni-COAL-unsplash-1.jpg" alt=""></div>
      <div class="title"><h2>South Africa’s Energy Transformation<hr class="bar"></h2></div>
      <div class="text"><p>The transition to clean energy requires massive investment from all quarters. The Intergovernmental Panel on Climate Change made it clear that the world will never reach the goals of the Paris Agreement on climate change without major contributions from advanced and emerging economies, which currently account for around 70 percent of global emissions.</p></div>
    </a>
  </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/the-crucial-role-of-social-protection-systems-in-building-resilience-to-climate-risks">
      <!-- <div class="year"><h3>Climate Futures Webinar Series</h3></div> -->
        <div class="image"><img src="/uploads/social-protection-promo.jpg" alt=""></div>
        <div class="title"><h2>The Crucial Role of Social Protection Systems in Building Resilience to Climate Risks<hr class="bar"></h2></div>
        <div class="text"><p>Already facing severe climate-related disruptions, Bangladesh is now enduring the additional economic and human development setback of the COVID-19 pandemic.</p></div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/Swift-And-Fair?utm_source=daidotcom?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/A%20Landscape%20of%20LIFT%20Operational%20Area,%20EmbaAlaje%20Woreda,%20Tigray%20Region-7df9e5.JPG" alt=""></div>
        <div class="title">
          <h2>2030: The Transition to a Low-Carbon Economy Must be Swift—and Fair
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>The next 10 years are make-or-break for our climate. To limit the rise in global temperature to less than 2 degrees Celsius, we must achieve significant progress on emissions reductions by 2030.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="/news/dai-commits-to-science-based-targets-initiative-to-reduce-greenhouse-gas-emissions">
        <div class="image"><img src="/uploads/science-based-targets.png" alt=""></div>
        <div class="title">
          <h2>DAI Commits to Science Based Targets Initiative to Reduce Greenhouse Gas Emissions
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>DAI has signed on to the Science Based Targets initiative (SBTi), part of a company-wide effort to act against climate
          change.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/how-a-place-based-approach-built-climate-resilience-in-indonesia?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/sm-f06df5.jpg" alt=""></div>
        <div class="title">
          <h2>How a Place-based Approach Built Climate Resilience in Indonesia
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>Indonesia knows climate and disaster risk: a vast archipelago of more than 18,000 islands and 230 million people, the country faces earthquakes, tsunamis, volcanic eruptions, drought, and rising sea level.</p>
        </div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="https://dai-global-developments.com/articles/tapping-climate-change-adaptation-financing-for-the-benefit-of-the-rural-poor-of-the-mekong-basin?utm_source=daidotcom">
        <div class="image"><img src="https://dai-global-developments.com/uploads/Devs----Climate-Finance-4.jpg" alt=""></div>
        <div class="title">
          <h2>The Key to Sustainable Local Climate Change Adaptation in the Mekong Basin
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>For more than two decades, climate change policy makers have focused on mitigating global warming by reducing carbon emissions and protecting and expanding natural ecosystems as carbon sinks.</p>
        </div>
      </a>
    </div>
</div>

<script> 
  $('.covid-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 1700,
  wrapAround: true,
});
</script>
