<footer>
  <div class="footer-inner">
    {% include footer-nav.html %}
    <div class="footer-bottom">
      <svg class="logo--footer" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#flat-logo"></use></svg>
      <p class="footer-bottom-links"><a href="" class="footer-bottom-link">Sign Up</a>
      <a href="" class="footer-bottom-link">Contact Us</a>
      <a href="" class="footer-bottom-link">Project Login</a>
      <a href="" class="footer-bottom-link">Privacy Policy</a> Copyright DAI. All Rights Reserved.</p>
    </div>
  </div>
</footer>