<footer>
  <div class="footer-inner">
    <p id="last"></p>
    <p class="footer-bottom-links"><a href="/sign-up" class="footer-bottom-link">Sign Up</a>
      <a href="/contact-us" class="footer-bottom-link">Contact Us</a>
      <a href="/privacy-policy" class="footer-bottom-link">Privacy Policy</a> Copyright DAI. All Rights Reserved. </p>
    {% include footer-nav.html %}
    <div class="footer-bottom">
      <svg class="logo--footer" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#flat-logo"></use></svg><span class="trademarked">&reg; </span>
    </div>
    <p class="legaleeze">DAI is an equal opportunity/affirmative action employer with a commitment to diversity. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, protected veteran status, disability status, sexual orientation, gender identity or national origin. In compliance with the Americans with Disabilities Act, DAI will provide reasonable accommodation to qualified individuals with disabilities. To request a potential accommodation, please send an e-mail to  <a href="mailto:accommodationrequest@dai.com">accommodationrequest@dai.com</a>. <a href="/eeo">Related Resources</a> | <a href="https://dai-assets.s3.amazonaws.com/Modern%20Slavery%20Statement%20signed%20final.pdf">Modern Day Slavery and Anti-Human Trafficking</a> | <a href="https://transparency-in-coverage.uhc.com">UHC Transparency in Coverage</a></p>
  </div>

  {%- comment -%} Pull all this carreers crap out of here at some point {%- endcomment -%}
  {% if page.careers == true %}
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <!-- Lity (Lightweight, accessible and responsive lightbox) -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.0/lity.min.js"></script>
    <!-- Slick -->
    
    <script src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <!-- Scroll Magic -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    
    <script src="/careers/assets/build/js/main.min.js"></script>
    <script src="/careers/assets/js/app.js?v=1"></script>
  {% endif %}
<script src="https://unpkg.com/sharect@2.0.0/dist/sharect.js"></script>
<script>
  Sharect.config({
    facebook: true,
    twitter: true,
    twitterUsername: 'daiglobal',
    backgroundColor: '#455560',
    iconColor: '#fff',
    selectableElements: ['p']
  }).init();
</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VC9ZDQWNHM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VC9ZDQWNHM');
</script>
</footer>
