<div class="footer-nav">
      <h4 class="footer-nav--header">Who We Are</h4>
      <ul class="footer-nav--list">
        <li><a href="">Mission & Values</a></li>
        <li><a href="">History</a></li>
        <li><a href="">Global Offices</a></li>
        <li><a href="">Our Team</a></li>
        <li><a href="">Ethics & Integrity</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h4 class="footer-nav--header">Our Work</h4>
      <ul class="footer-nav--list">
        <li><a href="">Solutions</a></li>
        <li><a href="">Regions</a></li>
        <li><a href="">Projects</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h4 class="footer-nav--header">Stories</h4>
      <ul class="footer-nav--list">
        <li><a href="">View All</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h4 class="footer-nav--header">News</h4>
      <ul class="footer-nav--list">
        <li><a href="">News</a></li>
        <li><a href="">Publications</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h4 class="footer-nav--header">Working with DAI</h4>
      <ul class="footer-nav--list">
        <li><a href="">Contracting Vehicles</a></li>
        <li><a href="">Job Opportunities</a></li>
        <li><a href="">Partnering with DAI</a></li>
      </ul>
    </div>