<header>
  <div class="header-utility_nav">
    <div class="header-inner">
      <ul class="header-nav">
      {% for nav in site.data.nav-util %}
        <li><a href="{{ nav.link }}">{{ nav.text }}</a></li>
      {% endfor %}
      </ul>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','AukYSRSJxTT4Q-wp7Yry','2.0.0');
</script>

      <input type="text" class="st-default-search-input header-search" placeholder="Search"><!--<svg class="search" viewBox="0 0 447 446" preserveAspectRatio="xMinYMax meet"><use xlink:href="#search"></use></svg>--> </input>
    </div>
  </div>
  <div class="header-site_nav">
    <div class="header-inner">
    <a href="/"><svg class="logo" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#logo"></use></svg></a>
    <ul class="header-nav--main">
        <li><a id="who-we-are-nav"href="/#who-we-are{% if page.title == "Home" %}{{"_hash"}}{% endif %}" class="{% if page.url contains "who-we-are" %}{{"active"}}{% endif %}">Who We Are</a></li>
        <li><a id="our-work-nav" href="/#our-work{% if page.title == "Home" %}{{"_hash"}}{% endif %}" class="{% if page.url contains "our-work" %}{{"active"}}{% endif %}">Our Work</a></li>
        <li class="header-nav-li--tiered"><a id="stories-nav" href="/#stories{% if page.title == "Home" %}{{"_hash"}}{% endif %}" class="{% if page.url contains "stories" %}{{"active"}}{% endif %}">Stories</a></li>
        <li><a id="news-nav" href="/#news{% if page.title == "Home" %}{{"_hash"}}{% endif %}" class="{% if page.url contains "news" %}{{"active"}}{% endif %}">News</a></li>
        <li><a id="working-with-dai-nav" href="/#working-with-dai{% if page.title == "Home" %}{{"_hash"}}{% endif %}" class="{% if page.url contains "working-dai" %}{{"active"}}{% endif %}">Working with DAI</a></li>
      </ul>
    </div>
  </div>
</header>
