<script>
  $(document).ready(function() {
    function checkSize(){
      if ($("header").height() > 127){
          offsetf = -163;
      }
      else if ($("header").height() > 118){
          offsetf = -165;
      }
      else if ($("header").height() > 91 ){
        offsetf = -148
      }
      else if ($("header").height() > 65 ){
        offsetf = -117
      } else {
        offsetf = -80
      }
      console.log(offsetf);
      $('.header-nav--main a').smoothScroll({
        offset: offsetf
      });
    }
    var offsetf = -126;
    console.log(offsetf);
    checkSize();
    console.log(offsetf);
    $(window).resize(checkSize);
//Smooth-scroll to the on-page section//
    $('.header-nav--main a').smoothScroll({
      offset: offsetf
    });
// Watch for hash links being loaded externally to smooth-scroll to them

    /* Take over default page anchor functionality */

    // Store hash location
    var hashLocation = false;
    if (location.hash) {
        hashLocation = window.location.hash;
        setTimeout(function() {
            hashLocation = window.location.hash;
        }, 1); // Execute at two moments for browser compatibility reasons
    }

    // If we have a hash location do stuff
    if (hashLocation) {

        // delay .1s for browser compatibility reasons
        setTimeout(function() {

            // Check hashLocation suffix
            if( hashLocation.indexOf('_hash') < 0 ) {
                hashLocation = hashLocation + "_hash";
            };

            // Scroll to target
            $.smoothScroll({
                scrollTarget: hashLocation,
                offset: offsetf
            });

        }, 400);

    };

// Use waypoints to set active class as one scrolls through the page
    // Set active when scrolling down
    $('#who-we-are_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#who-we-are-nav').addClass('active');
  },{offset: '163'},{direction: 'down'});
    // set active for our-work on the way down
    $('#our-work_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#our-work-nav').addClass('active');
    },{offset: '165'},{direction: 'down'});
    // switch active to who-we are halfway up
    $('#our-work_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#who-we-are-nav').addClass('active');
    },{offset: '50%'},{direction: 'up'});
    // set active for publications on the way down
    $('#publications_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#publications-nav').addClass('active');
    },{offset: '165'},{direction: 'down'});
    // switch active to our-work halfway up
    $('#publications_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#our-work-nav').addClass('active');
    },{offset: '50%'},{direction: 'up'});
    // set active for news on teh way down
    $('#news_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#news-nav').addClass('active');
  },{offset: '175'},{direction: 'down'});
    // switch active to publications halfway up
    $('#news_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#publications-nav').addClass('active');
  },{offset: '45%'},{direction: 'up'});
    // set active for working on teh way down
    $('#working-with-dai_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#working-with-dai-nav').addClass('active');
  },{offset: '175'},{direction: 'down'});
    // switch active to news halfway up
    $('#working-with-dai_hash').waypoint(function(){
    $('.header-nav--main a').removeClass('active');
    $('#news-nav').addClass('active');
    },{offset: '50%'},{direction: 'up'});


    // $('#who-we-are_hash').waypoint(function(direction) {
    // $('.header-nav--main a').removeAttr('class');
    // $('#who-we-are-nav').toggleClass('active', direction === 'down');
    // },{offset: '145'});

    // $('#who-we-are_hash').waypoint(function() {
    //     $('#who-we-are-nav').toggleClass('active');
    // },{offset: 'bottom-in-view'},{direction: 'up'});

    // $('#our-work_hash').waypoint(function(direction) {
    // $('.header-nav--main a').removeAttr('class');
    // $('#our-work-nav').toggleClass('active', direction === 'down');
    // },{offset: '145'});
});
</script>
