<header>
  <div class="header-utility_nav">
    <div class="header-inner">
      <ul class="header-nav">
      {% for nav in site.data.nav-util %}
        <li><a href="{{ nav.link }}">{{ nav.text }}</a></li>
      {% endfor %}
      </ul>
      <a href="" class="header-search"><svg class="search" viewBox="0 0 447 446" preserveAspectRatio="xMinYMax meet"><use xlink:href="#search"></use></svg> Search</a>
    </div>  
  </div>
  <div class="header-site_nav">
    <div class="header-inner">
    <svg class="logo" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#logo"></use></svg>
    <ul class="header-nav--main">
        <li class="current"><a href="">Who We Are</a></li>
        <li><a href="">Our Work</a></li>
        <li class="header-nav-li--tiered"><a href="">Stories</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Working with DAI</a></li>
      </ul>
    </div>
  </div>
</header>