<div class="covid-carousel climate localization equal-height">
  <div class="carousel-cell" style="">
      <a href="/our-work/projects/guyana-centre-for-local-business-development">
        <div class="image"><img src="/uploads/nascent-energy.jpg" alt=""></div>
        <div class="title"><h2>Enabling local businesses to enter nascent energy supply chains<hr class="bar"></h2></div>
        <div class="text">
          <p>DAI’s enterprise development centers provide training, upgrading, and networking competitive and enter energy supply chains.</p>
          </div>
      </a>
    </div>
    <div class="carousel-cell" style="">
      <a href="https://smp.dai.com/">
        <div class="image"><img src="/uploads/step-six-smp.png" alt=""></div>
        <div class="title"><h2>Helping multinationals gain access to new markets and thousands of verified local suppliers  <hr class="bar"></h2></div>
        <div class="text"><p>DAI’s Supplier Management Portal is a cloud-based platform that connects large-scale buyers to local small and medium-sized enterprises. Around the world, multinationals are using DAI’s proprietary platform to access thousands of verified local suppliers and measure and report on their impact on the local economy.</p></div>
      </a>
    </div>
    <div class="carousel-cell" style="">
      <a href="/our-work/projects/canada-marine-renewables-supply-chain-assessment">
        <div class="image"><img src="/uploads/windmills-study.jpg" alt=""></div>
        <div class="title">
          <h2>Supply chain and market quantification for Marine Renewables Canada
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>DAI assessed how to expand Nova Scotian firms’ access to foreign markets in North America, Europe, and Asia. The study developed a methodology to assess the capacity of Nova Scotian suppliers to meet the requirements of the export markets and identified market opportunities and barriers. </p>
        </div>
      </a>
    </div>
</div>

<script> 
  $('.covid-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 1700,
  wrapAround: true,
});
</script>