<div class="news-filter">
  <h3>News Filter</h3>
  <p>Looking for news articles on a particular technical topic or geographical area? Click below to filter.<br/><a class="filter-reset" href="/news/view-more-news">RESET FILTERS</a></p>
  <div class="button-group filter-button-group solution" data-filter-group="solution">
    <h3>Filter by Solution</h3>
    {% assign primary_solutions = site.solutions | where:"type","primary" | sort: "title" %}
    {% for solution in primary_solutions %}<button data-filter=".{{ solution.title | slugify }}" class="filter--solution button"> {{ solution.icon }} {{ solution.title }}</button>{% endfor %}
  </div>
  <div class="button-group filter-button-group region" data-filter-group="region">
    <h3>Filter by Region</h3>
    {% for region in site.regions %}<button data-filter=".{{ region.title | slugify}}" class="filter--region button"> <svg class="region-badge badge" viewBox="0 0 100  100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#region-badge"></use></svg> {{ region.title | replace:'and','&' }} </button>{% endfor %}
  </div>
  <hr>
</div>
<script type="text/javascript">
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  layoutMode: 'vertical'
});

// store filter for each group
var filters = {};

$('.news-filter').on( 'click', '.button', function() {
  var $this = $(this);
  // get group key
  var $buttonGroup = $this.parents('.button-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $this.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  // set filter for Isotope
  $grid.isotope({ filter: filterValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

// flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}
  //Let's grab a data-filter paramater from the URL so we can link to prefiltered lists
  function getParameterByName(name) {
    if (name !== "" && name !== null && name != undefined) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    } else {
        var arr = location.href.split("/");
        return arr[arr.length - 1];
    }

}
  var filterFromQuerystring = getParameterByName('filter');
  $('button[data-filter=".' + filterFromQuerystring  + '"]').click();
// END URL data-filtering stuff
  // var $grid = $('.grid').isotope({
  // itemSelector: '.grid-item',
  // layoutMode: 'vertical'
  // });
  // $('.filter-button-group').on( 'click', 'button', function() {
  //   var filterValue = $(this).attr('data-filter');
  //   $("button.active").removeClass('active');
  //   $(this).addClass('active');
  //   $grid.isotope({ filter: filterValue });
  // });
</script>
