<div class="stories-filter">
  <h3>News Filter</h3>
  <p>Looking for news articles on a particular technical topic or geographical area? Click below to filter.</p>
  <div class="solution">
    <h3>Filter by Solution</h3>
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
    <div class="button-group filter-button-group">
    {% for solution in primary_solutions %}<button data-filter=".{{ solution.title | slugify }} "> {{ solution.icon }} {{ solution.title }}</button>{% endfor %}
    </div>
  </div>
  <div class="filter--control region">
    <h3>Filter by Region</h3>
    {% for region in site.regions %}<a class="filter--region" href=""> <svg class="region-badge badge" viewBox="0 0 100  100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#region-badge"></use></svg> {{ region.title | replace:'and','&' }} </a>{% endfor %}
  </div>
  <hr>
</div>
<script type="text/javascript">
  var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  layoutMode: 'vertical'
  });
  $('.filter-button-group').on( 'click', 'button', function() {
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({ filter: filterValue });
  });
</script>
