{% if page.url contains "working-dai" %}
  <div class="node-nav working-dai">
    <div class="node-nav--links">
      <h4>Working with DAI</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-working %}
          <li class="rail-nav-link"><a href="{{ nav.link }}" {% assign strip_link = nav.link | remove:".html" %}class="{% if page.url contains strip_link  %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% elsif page.url contains "who-we-are" %}
  <div class="node-nav who-we-are">
    <div class="node-nav--links">
      <h4>Who We Are</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-who %}
        <li class="rail-nav-link"><a href="{{ nav.link }}" {% assign strip_link = nav.link | remove:".html" %} class="{% if page.url contains strip_link or page.url contains nav.children %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% elsif page.url contains "our-work" %}
  <div class="node-nav our-work">
    <div class="node-nav--links">
      <h4>Our Work</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-our %}
        <li class="rail-nav-link"><a href="{{ nav.link }}" {% assign strip_link = nav.link | remove:".html" %} class="{% if page.url contains strip_link or page.url contains nav.children %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% elsif page.url contains "publications" %}

{% elsif page.url contains "news" %}

{% endif %}
