<div class="covid-carousel climate solution-case-study">
  <div class="carousel-cell">
    <a href="/our-work/projects/worldwide-gca-local-adaptation-champions-awards">
      <div class="image"><img src="/uploads/local-adaptation-awards-thumb.png" alt=""></div>
      <div class="title"><h2>Supporting the delivery of the Local Adaptation Champions Awards<hr class="bar"></h2></div>
    <div class="text"><p>DAI is supporting the delivery of the Local Adaptation Champions Awards through a range of activities including conceptualizing the Awards process; developing the Awards criteria and material required for the submission of entries; developing a global outreach and publicity plan; building an applications portal; managing the receipt of applications; managing the shortlisting process; and organizing a high-level Awards ceremony at COP27, Egypt.</p></div>
    </a>
  </div>
  <div class="carousel-cell">
      <a href="/our-work/projects/indonesia-improving-the-health-of-female-workers-at-global-apparel-companys-factories">
        <div class="image"><img src="https://dai-global-developments.com/uploads/workerfactory-e71eaa.jpg" alt=""></div>
        <div class="title"><h2>Improving the Health of Female Workers at Global Apparel Company’s Factories<hr class="bar"></h2></div>
        <div class="text"><p>DAI was commissioned by VF Corporation—one of the world’s largest apparel, footwear, and accessories companies—to help develop and implement a health program for a majority-female workforce.</p> 
        <p>The program focuses on maternal and newborn health (MNH), family planning, sexual and gender-based violence, and COVID-19. It strengthens MNH services in factory clinics, increases staff and worker MNH knowledge, and improves referral pathways so workers can receive more advanced treatment. Delivered in 10 VF Corporation factories across Java, Indonesia, the program will reach 18,500 employees by the end of 2022.
          </p></div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="/our-work/projects/ghana-kosmos-innovation-center-kic">
        <div class="image"><img src="/uploads/sbg-tile-image-2.png" alt=""></div>
        <div class="title"><h2>Solving Ghana’s Key Development Challenges through Program Design and Implementation <hr class="bar"></h2></div>
        <div class="text"><p>DAI designed, launched, and implemented the Kosmos Innovation Center (KIC) program in Ghana to advance locally led, market-driven solutions to some of the country’s key challenges. Kosmos Energy’s flagship social investment program in Ghana, KIC supports businesses across the entrepreneurship lifecycle, including enterprise capacity building, personnel recruitment and management, stakeholder engagement, and investment due diligence:</p><ul>
          <li>500+ young leaders trained in business</li>
          <li>343 direct jobs created</li>
          <li>$410,000 in seed funding awarded by Kosmos</li>
          <li>30 agritech start-ups created, 16 of which were in incubation in 2020</li>
        </ul></div>
      </a>
    </div>
    <div class="carousel-cell">
      <a href="/our-work/projects/oman-corporate-social-investment-science-technology-engineering-and-mathematics-csi-stem-program">
        <div class="image"><img src="/uploads/cropped-steamzone.png" alt=""></div>
        <div class="title">
          <h2>Development and Implementation of Award-Winning STEAM Education Program 
            <hr class="bar">
          </h2>
        </div>
        <div class="text">
          <p>In Oman, DAI partnered with Eshraqa—the social development of arm of Khimji Ramdas, one of the Sultanate’s leading business conglomerates—to deliver stemazone as its flagship corporate social responsibility program.</p>
          <p>The stemazone initiative serves children across the country and inspires young Omanis to enter STEAM (science, technology, engineering, art, and mathematics) fields and set them on the STEAM pathway from an early age, which studies show is critical to building a skilled workforce.</p>
        </div>
      </a>
    </div>
</div>

<script> 
  $('.covid-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true,
  autoPlay: 1700,
  wrapAround: true,
});
</script>