{% assign experts = site.experts | sort:"lastname" %}
{% for expert in experts %}
  {% for solution in expert.solutions %}
    {% if solution == page.title %}
    {% unless gotexp == 'gotexp' %}
    <h2>Our Experts</h2>
    <hr>
    {% endunless %}
    {% assign gotexp = 'gotexp' %}
<div class="people-block grid-item {% for expertise in expert.solutions %} {{ expertise | downcase | slugify }} {% endfor %}{% for region in expert.regions %} {{ region | slugify}} {% endfor %}">
  <div class="expert-detailslist--metadata">
    <h3 class="expert-details--name">{{ expert.title }}</h3>
    <p class="expert-details--title">{{ expert.job-title }}</p>
    </div>
    <div class="expert-summary">
      {% if expert.summary %}<p>{{ expert.summary | markdownify | remove:'<p>' | remove:'</p>' }}</p>{% endif %}
    </div>
    <a href="{{ expert.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <hr>
</div>
    {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign current_year = site.time | date:"%Y" | times:1 %}
{% for project in site.projects %}
  {% for solution in project.solutions %}
    {% if solution == page.title %}
    {% if project.end > current_year %}
    {% unless gotproj == 'gotproj' %}
    <h2>Our Projects</h2>
    <hr>
    {% endunless %}
    {% assign gotproj = 'gotproj' %}
<div class="project-block grid-item {% for solution in project.solutions %} {{ solution | slugify }} {% endfor %}{% for region in project.regions %} {{ region | slugify}} {% endfor %} {% for client in project.client %} {{ client | slugify }} {% endfor %}{% if project.end < current_year %} closed {% else %} active{% endif %}">
    <h3>{{ project.title }}</h3>
    {% if project.summary %}<p>{{ project.summary | markdownify }}</p>{% endif %}
    <a href="{{ project.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <hr>
  </div>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
