{% assign experts = site.experts | where_exp: "expert", "expert.solutions contains page.title" | sort: "lastname"%}
{% if experts.size > 0 %}
    <div class="block-people">
      <h1>Our Experts</h1>
      <hr>
    {% for expert in experts %}
  <div class="people-block grid-item {% for expertise in expert.solutions %} {{ expertise | downcase | slugify }} {% endfor %}{% for region in expert.regions %} {{ region | slugify}} {% endfor %}">
    <div class="expert-detailslist--metadata">
      <h3 class="expert-details--name">{{ expert.title }}</h3>
      <p class="expert-details--title">{{ expert.job-title | markdownify | remove:'<p>' | remove: '</p>'}}</p>
      </div>
      <div class="expert-summary">
        {% if expert.summary %}<p>{{ expert.summary | markdownify | remove:'<p>' | remove:'</p>' }}</p>{% endif %}
      </div>
      <a href="{{ expert.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
      <hr>
  </div>
    {% endfor %}
</div>
{% endif %}
{% assign current_year = site.time | date:"%Y" | times:1 %}
{% assign projects = site.projects | where_exp: "project", "project.solutions contains page.title" %}
{% if projects.size > 0 %}
  <div class="block-project">
    <h1>Our Projects</h1>
    <hr>
    {% for project in projects %}
      {% unless page.title == 'Energy' %}
        {% if project.end > current_year %}
    <div class="project-block grid-item {% for solution in project.solutions %} {{ solution | slugify }} {% endfor %}{% for region in project.regions %} {{ region | slugify}} {% endfor %} {% for client in project.client %} {{ client | slugify }} {% endfor %}{% if project.end < current_year %} closed {% else %} active{% endif %}">
    <h3>{{ project.title }}</h3>
    {% if project.summary %}<p>{{ project.summary | markdownify }}</p>{% endif %}
    <a href="{{ project.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <hr>
    </div>
    {% endif %}
      {% else %}
        <div class="project-block grid-item {% for solution in project.solutions %} {{ solution | slugify }} {% endfor %}{% for region in project.regions %} {{ region | slugify}} {% endfor %} {% for client in project.client %} {{ client | slugify }} {% endfor %}{% if project.end < current_year %} closed {% else %} active{% endif %}">
        <h3>{{ project.title }}</h3>
        {% if project.summary %}<p>{{ project.summary | markdownify }}</p>{% endif %}
        <a href="{{ project.url }}" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
        <hr>
        </div>
      {% endunless %}
  {% endfor %}
  </div>
{% endif %}
