<div class="stories-filter">
  <h3>Article Filter</h3>
  <p>Looking for articles from a particular publication or focused on a particular topic? Click below to filter.</p>
  <div class="button-group filter-button-group region" data-filter-group="publication">
    <h3>Filter by Publication</h3>
    <button class="filter--publication button" data-filter=".developments"> Developments </button>
    <button class="filter--publication button" data-filter=".daideas"> DAIdeas </button>
    <button class="filter--publication button" data-filter=".developing-alternatives"> Developing Alternatives </button>
    <button class="filter--publication button" data-filter=".digital"> Digital@DAI </button>
  </div>
  <div class="button-group filter-button-group solution" data-filter-group="solution">
    <h3>Filter by Solution</h3>
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
    {% for solution in primary_solutions %}<button class="filter--solution button" data-filter=".{{ solution.title | slugify }}"> {{ solution.icon }} {{ solution.title }} </button>{% endfor %}
  </div>
  <hr>
  <h4><em><a href="http://dai-global-developments.com/developments/">Developments</a></em></h4>
  <p>DAI’s newsletter, offering feature articles, opinion pieces, and interviews on DAI projects and global development issues.</p>
  <h4><em><a href="http://dai-global-developments.com/developing-alternatives/">Developing Alternatives</a></em></h4>
  <p>A forum for our professional staff and guest authors to share their ideas in depth and address issues of enduring interest.</p>
  <h4><em><a href="http://dai-global-developments.com/daideas/">DAIdeas</a></em></h4>
  <p>A companion publication to our <em>Developments</em> newsletter, showcasing innovative thinking in capsule form.</p>
  <h4><em><a href="http://dai-global-digital.com">Digital@DAI</a></em></h4>
  <p>DAI’s Digital for Development blog on what we’re learning in the rapidly emerging field of ICT4D.</p>
</div>
<script type="text/javascript">
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  layoutMode: 'vertical'
});

// store filter for each group
var filters = {};

$('.stories-filter').on( 'click', '.button', function() {
  var $this = $(this);
  // get group key
  var $buttonGroup = $this.parents('.button-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $this.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  // set filter for Isotope
  $grid.isotope({ filter: filterValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

// flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}
  // var $grid = $('.grid').isotope({
  // itemSelector: '.grid-item',
  // layoutMode: 'vertical'
  // });
  // $('.filter-button-group').on( 'click', 'button', function() {
  //   var filterValue = $(this).attr('data-filter');
  //   $("button.active").removeClass('active');
  //   $(this).addClass('active');
  //   $grid.isotope({ filter: filterValue });
  // });
</script>
