{% assign all_articles = site.data.pubs %}
{% for article in site.data.digital %}
  {% assign all_articles = all_articles | push: article %}
{% endfor %}
{% for article in site.data.cs3 %}
  {% assign all_articles = all_articles | push: article %}
{% endfor %}
{% assign sorted_articles = all_articles | sort: 'date' %}

<div class="stories-rail grid">{% for article in sorted_articles reversed %}
  <div class="stories-block grid-item {% for tag in article.tags %} {{ tag | slugify }} {% endfor %}{% for pub in article.pub %} {{ pub | slugify }} {% endfor %}">
    <h3>{{ article.title }}</h3>
    <p class="article-details">
      <span class="article-publication">{{ article.pub }}</span>
    </p>
    <p>{{ article.summary | truncate: 350 | markdownify }}</p>
    <a href="{{ article.link }}" target="blank" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <hr>
  </div>{% endfor %}
</div>
