
<div class="experts-rail grid">
{% assign sorted_experts = site.experts | sort:'lastname' %}
{% for expert in sorted_experts %}
  <div class="people-block grid-item {% for expertise in expert.solutions %} {{ expertise | downcase | slugify }} {% endfor %}{% for region in expert.regions %} {{ region | slugify}} {% endfor %}">
    <div class="expert-detailslist--metadata">
      <h3 class="expert-details--name">{{ expert.title }}</h3>
      <p class="expert-details--title">{{ expert.job-title }}</p>
      </div>
      <div class="expert-summary">
        {% if expert.summary %}<p>{{ expert.summary | markdownify | remove:'<p>' | remove:'</p>' }}</p>{% endif %}
      </div>
      <a href="{{ expert.url }}" target="blank" class="primary-block--button expert-button">Read More <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
      {% unless forloop.last %}<hr>{% endunless %}
  </div>
{% endfor %}
</div>
