<div class="experts-filter">
  <h3>Team Filter</h3>
  <p>Looking for expertise in a particular technical topic or geographical area? Click below to filter.</p>
  <div class="filter--control solution">
    <h3>Filter by Solution</h3>
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
    {% for solution in primary_solutions %}
    {% assign solution_slug = solution.title | slugify %}
  <a class="filter--solution {% if page.url contains solution_slug %}active{% endif %}" href="/who-we-are/our-team/{{ solution_slug }}"> {{ solution.icon }} {{ solution.title }} </a>{% endfor %}
  </div>
  <div class="filter--control region">
    <h3>Filter by Region</h3>
    {% for region in site.regions %}<a class="filter--region" href=""> <svg class="region-badge badge" viewBox="0 0 100  100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#region-badge"></use></svg> {{ region.title | replace:'and','&' }} </a>{% endfor %}
  </div>
  <hr>
</div>
