<div class="experts-filter">
  <h3>Team Filter</h3>
  <p>Looking for expertise in a particular technical topic or geographical area? Click below to filter.</p>
  <div class="button-group filter-button-group" data-filter-group="solution">
    <h3>Filter by Solution</h3>
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
      {% for solution in primary_solutions %}
        <button class="filter--solution button" data-filter=".{{ solution.title | slugify }}"> {{ solution.icon }} {{ solution.title }}</button>
      {% endfor %}
  </div>
  <div class="button-group filter-button-group" data-filter-group="region">
    <h3>Filter by Region</h3>
      {% for region in site.regions %}<button class="filter--region button" data-filter=".{{ region.title | slugify }}"> <svg class="region-badge badge" viewBox="0 0 100  100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#region-badge"></use></svg> {{ region.title | replace:'and','&' }} </button>
      {% endfor %}
  </div>
  <hr>
</div>
<script type="text/javascript">
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  layoutMode: 'vertical'
});

// store filter for each group
var filters = {};

$('.experts-filter').on( 'click', '.button', function() {
  var $this = $(this);
  // get group key
  var $buttonGroup = $this.parents('.button-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $this.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  // set filter for Isotope
  $grid.isotope({ filter: filterValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

// flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}
  // var $grid = $('.grid').isotope({
  // itemSelector: '.grid-item',
  // layoutMode: 'vertical'
  // });
  // $('.filter-button-group').on( 'click', 'button', function() {
  //   var filterValue = $(this).attr('data-filter');
  //   $("button.active").removeClass('active');
  //   $(this).addClass('active');
  //   $grid.isotope({ filter: filterValue });
  // });
</script>
