<div class="container-section" id="news_hash">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>News & Publications</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-news %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">News & Publications</h1>
    <div class="primary-block full">
      <h3>Women in Development: An Inside View</h3>
      <img src="/assets/images/home/wid.jpg" alt="">
      <p>In international development, one thing that everyone seems to agree on is that increasing women’s engagement in society has diverse and wide-reaching development benefits. Many people are familiar with some version of the adage: “If you educate a boy, you train a man. If you educate a girl, you train a village.” Expanding opportunities for women’s education, access to health services, economic participation, and leadership can have ripple effects that spur economic growth, promote political stability and peace, and improve public health.</p>
      <a href="" class="primary-block--button">Continue Reading <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    </div>
  </div>
</div>