<div class="container-section" id="our-work_hash">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>Our Work</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-our %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">Our Work</h1>
    <div class="primary-block full">
      <p>Since 1970, we have worked in more than 150 countries—delivering results across the spectrum of international development contexts, from stable societies and high-growth economies to challenging environments racked by political or military conflict.</p>
    </div>
    <div class="primary-block split left">
      <h2>Global Impact</h2>
      <img src="/assets/images/home/map-1.jpg" alt="">
      <p>We partner with local people and institutions on scores of projects worldwide.</p>
      <a href="extras/maps/index.html" class="primary-block--button">View the Map <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    </div>
    <div class="primary-block split right">
      <h2>Integrated Solutions</h2>
      <ul>
        {% assign primary_solutions = site.solutions | where:"type", "primary" %}
        {% for solution in primary_solutions %}
          <li class="primary-block--solution"><a href="{{ solution.url }}" class="primary-block--button">{{ solution.icon }} {{ solution.title | replace:'and', '&' }}<svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
