<div class="container-section" id="our-work_hash">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>Our Work</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-our %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">Our Work</h1>
    <div class="primary-block full">
      <p>Since 1970, we have worked in more than 150 countries—delivering results across the spectrum of international development contexts, from stable societies and high-growth economies to challenging environments racked by political or military conflict.</p>
    </div>
    <div class="primary-block split left">
      <h2>Global Impact</h2>
      <img src="/assets/images/home/map-1.jpg" alt="">
      <p>We partner with local people and institutions on scores of projects worldwide.</p>
      <a href="http://dai.com/extras/maps/index.html" class="primary-block--button">View the Map <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    </div>
    <div class="primary-block split right">
      <h2>Integrated Solutions</h2>
      <ul>
        <li><a href="" class="primary-block--button">Corporate Services <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Economic Growth <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Environment & Energy <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Governance <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Health <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">ICT <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Stability <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
        <li><a href="" class="primary-block--button">Law and Justice <svg class="redirect" viewBox="0 0 72 63" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a></li>
      </ul>
    </div>
  </div>
</div>