<div class="container-section" id="publications_hash">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>Publications</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-publications %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">Publications</h1>
    <div class="primary-block split left">
      {% assign all_articles = site.data.pubs %}
      {% for article in site.data.digital %}
        {% assign all_articles = all_articles | push: article %}
      {% endfor %}
      {% for article in site.data.cs3 %}
        {% assign all_articles = all_articles | push: article %}
      {% endfor %}
      {% assign sorted_articles = all_articles | sort: 'date' %}

      {% assign reversed_articles = sorted_articles | reverse %}
      {% assign first = reversed_articles[0] %}
      <h3><a href="{{ first.link }}">{{ first.title }}</a></h3>
      {{ first.summary | truncatewords:40 }}
      <!-- <a href="{{ story.url }}" class="primary-block--button">Continue Reading <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a> -->
    </div>
    <div class="primary-block split right">
      {% assign second = reversed_articles[1] %}
      <h3><a href="{{ second.link }}">{{ second.title }}</a></h3>
      {{ second.summary | truncatewords:40 }}
      <!-- <a href="{{ story.url }}" class="primary-block--button">Continue Reading <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a> -->
    </div>
  </div>
</div>
