<div class="container-section" id="stories_hash">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>Stories</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-stories %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">Stories</h1>
    <div class="primary-block split left">
      {% for story in site.stories limit: 1 %}
      <h3>{{ story.title}}</h3>
      {{ story.excerpt }}
      <a href="{{ story.url }}" class="primary-block--button">Continue Reading <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
      {% endfor %}
    </div>
    <div class="primary-block split right">
      {% for story in site.stories limit:1 offset:1 %}
      <h3>{{ story.title }}</h3>
      {{ story.excerpt }}
      <a href="{{ story.url }}" class="primary-block--button">Continue Reading <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
      {% endfor %}
    </div>
  </div>
</div>
