<div class="container-section" id="who-we-are">
  <div class="section-rail">
    <div class="rail-nav">
      <h4>Who We Are</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-who %}
          <li class="rail-nav-link"><a href="{{ nav.link }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-primary">
    <h1 class="section-header">Who We Are</h1>
    <div class="primary-block full"><h3>DAI works on the frontlines of global development. Transforming ideas into action—action into impact. We are committed to shaping a more livable world.</h3></div>
    <div class="primary-block split left">
      <img src="/assets/images/home/rob_front.jpg" alt="Rob at the DAI Maker Lab" class="primary-block--image">
      <a href="/maker-lab/" class="primary-block--button">The DAI Maker Lab</a>
    </div>
    <div class="primary-block split right">
      <img src="/assets/images/home/insight.jpg" alt="" class="primary-block--image">
      <a href="" class="primary-block--button">40 Years of Insight</a>
    </div>
    <div class="primary-block full">
      <p>We tackle fundamental social and economic development problems caused by <strong>inefficient markets</strong>, <strong>ineffective governance</strong>, and <strong>instability</strong>. We work with a wide range of clients, including national and local governments, bilateral and multilateral donors, private corporations, and philanthropies.</p>
    </div>
  </div>
</div>