<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include iehacks.html %}
  {% include head.html %}
  <body {% if page.promos %}{% if page.promos[0].title.size > 1 %}class="promos" {% endif %}{% endif %}>
    <div class="wrapper">
      {% include header.html %}
      {% if page.title == 'Home' %}
  <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": true, "setGallerySize": false }'>
{% comment %}  <a class="gallery-cell" style="background: url(/uploads/mobilize.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://americaleads.us/action/?p2asource=daiglobal">
  </a>{% endcomment %}
  <a class="gallery-cell" style="background: url(/uploads/csis-hero-2.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="news/join-us-for-the-csis-symposium-pandemic-preparedness-policy-and-practice-in-the-21st-century">
    <div class="shader">
      <div class="gallery-cell--text">
        <h2>Pandemic Preparedness in the 21st Century</h2>
        <p class="gallery-subhead">Join Us for this CSIS Symposium</p>
      </div>
    </div>
  </a>
    <a class="gallery-cell" style="background: url(/uploads/young-rural-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://dai-global-developments.com/articles/young-rural-women-are-crucial-to-advancing-universal-health-coverage-in-northern-nigeria/?utm_source=daidotcom">
    <div class="shader">
      <div class="gallery-cell--text">
        <h2>Universal Health Coverage</h2>
        <p class="gallery-subhead">The crucial role of young rural women in Northern Nigeria</p>
      </div>
    </div>
  </a>
  <a class="gallery-cell" style="background: url(/uploads/liberia-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://dai-global-developments.com/articles/liberia-moves-to-reduce-donor-dependence-by-improving-its-ability-to-invest-in-itself?utm_source=daidotcom">
    <div class="shader">
      <div class="gallery-cell--text">
        <h2>Reducing Donor Dependence</h2>
        <p class="gallery-subhead">Improving Liberia's ability to invest in itself</p>
      </div>
    </div>
  </a>
  <a class="gallery-cell" style="background: url(/uploads/winning.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="https://www.dai.com/news/dai-named-government-contractor-of-the-year?utm_source=daidotcom">
    <div class="shader">
      <div class="gallery-cell--text">
        <h2>DAI Named Government Contractor of the Year</h2>
        <p class="gallery-subhead"></p>
      </div>
    </div>
  </a>
  <a class="gallery-cell" style="background: url(/uploads/intrahealth1.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="/news/dai-and-intrahealth-join-forces-to-amplify-global-health-impact">
    <div class="shader">
      <div class="gallery-cell--text">
        <h2>DAI and IntraHealth</h2>
        <p class="gallery-subhead">Joining forces to build a healthier, more livable world</p>
      </div>
    </div>
  </a>
  {% comment %}<a class="gallery-cell vid" style="background: url() no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://dai-global-developments.com/articles/clean-water-for-all-by-2030-no-really/">
      <video id="vid" autoplay loop muted playsinline preload="auto" poster="/uploads/water.jpg">
        <source src="https://player.vimeo.com/external/203845561.sd.mp4?s=44187fccc54c4ecb144b9e8dbca81525b1af460f&profile_id=165" type='video/mp4'>
      </video>
      <script>
      window.onload = function() {
  document.querySelector('#vid').play()
}
</script>
      <div class="shader">
                <div class="gallery-cell--text">
                  <h2>Clean Water for All by 2030</h2>
                  <p class="gallery-subhead">No, Really</p>
                </div>
            </div>
    </a>{% endcomment %}
  </div>
      {% endif %}
{% if page.hero and page.url contains "working-dai" %}
  <div class="hero-wrap working-dai">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "who-we-are" %}
  <div class="hero-wrap who-we-are">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "our-work" %}
  <div class="hero-wrap our-work">
    <div class="node-hero">
        <h1 class="hero-title">{% if page.icon %}{{ page.icon }} {% endif %}{% if page.layout == "solution" and page.type != "primary" %}{% assign solution = site.solutions | where_exp:"item","item.title == page.solutions[0]" %}{{ solution[0].icon }} {{ solution[0].title }} {% else %}{{page.title}}{% endif %}</h1>
        <p class="hero-excerpt">{% if solution %} {{ solution[0].summary | markdownify | remove:"<p>" | remove:"</p>"}}{%else%}{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}{%endif%}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "publications" %}
  <div class="hero-wrap publications">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "news" %}
  <div class="hero-wrap news">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% endif %}
      <div class="container content {% if page.title == 'Home' %} home {% endif %}{% if page.url contains 'news/' or page.url contains 'projects/' or page.url contains 'our-team/' or page.url contains 'leadership/' or page.url contains 'solutions/' %} container-node {% endif %}{% if page.hero %} hero{% endif %}">
      {% if page.collection == 'news' %}<h1>{{ page.title }}</h1>{% endif %}
        {{ content }}
        {% if  page.collection == 'news' or page.collection == 'projects' or page.collection == 'experts'%}
          {% include  related.html %}
        {% elsif page.layout == 'node' or page.layout == 'solution' %}
          {% unless page.related == false %}
            {% include  related.html %}
          {% endunless %}
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
