<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include iehacks.html %}
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      {% if page.title == 'Home' %}
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": true, "setGallerySize": false }'>
          <a class="gallery-cell" style="background: url(/uploads/kosmos.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"  href="/news/kosmos-energy-launches-groundbreaking-social-investment-initiative-ghana">
            <div class="shader">
              <div class="gallery-cell--text">
                <h2>Investing in Ghana’s Entrepreneurs</h2>
                <p class="gallery-subhead">Kosmos Energy launches innovation center</p>
              </div>
            </div>
          </a>
          <a class="gallery-cell" style="background: url(/uploads/water.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://dai-global-developments.com/articles/clean-water-for-all-by-2030-no-really/">
            <div class="shader">
                      <div class="gallery-cell--text">
                        <h2>Clean Water for All by 2030</h2>
                        <p class="gallery-subhead">No, Really.</p>
                      </div>
                  </div>
          </a>
            <a class="gallery-cell" style="background: url(/uploads/what-if.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="/what-if">
              <div class="shader">
                        <div class="gallery-cell--text">
                          <h2>Turning What Ifs into What’s Next</h2>
                          <p class="gallery-subhead">See what drives our work.</p>
                        </div>
                    </div>
            </a>
        </div>
      {% endif %}
      <div class="container content {% if page.title == 'Home' %} home {% endif %}{% if page.url contains 'news/' or page.url contains 'projects/' or page.url contains 'our-team/' or page.url contains 'leadership/' or page.url contains 'solutions/' %} container-node {% endif %}">
        {{ content }}
        {% if  page.collection == 'news' %}
          <p id="last"></p>
          <div id="slidebox">
            <a class="close">x</a>
            <p>Related Content:</p>
            <h2>DAI History: 40 Years of Excellence</h2>
            <a href="" class="more">Read More</a>
          </div>
          <script type="text/javascript">
            $(function() {
            	$(window).scroll(function(){

                var distanceTop = $('#last').offset().top - $(window).height() - 100;

            		if  ($(window).scrollTop() > distanceTop)
            			$('#slidebox').animate({'right':'0px'},300);
            		else
            			$('#slidebox').stop(true).animate({'right':'-430px'},100);
            	});

            	$('#slidebox .close').bind('click',function(){
            		$(this).parent().remove();
            	});
            });
          </script>
        {% else %}
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
