<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include iehacks.html %}
  {% include head.html %}
  <body class="{% if page.promos %}{% if page.promos[0].title.size > 1 %}promos {% endif %}{% endif %}{% if page.country-page %}{% unless page.url contains "european-union"%}country{%endunless%}{% endif %}{%- if page.url contains '/covid-19' -%}covid {%- endif -%}" >
    <div class="wrapper">
      {% include header.html %}
      {% if page.title == 'Home' %}
  <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": 5000, "setGallerySize": false }'>
{% comment %}  <a class="gallery-cell" style="background: url(/uploads/mobilize.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="http://americaleads.us/action/?p2asource=daiglobal">
  </a>{% endcomment %}
{%- comment -%} <a class="gallery-cell" style="background: url(/uploads/thinkmd-covid.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="https://www.dai.com/news/dai-digital-health-partner-thinkmd-launches-covid-19-education-and-screening-tool?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">DAI partner unveils COVID-19 screening tool</p>
    </div>
  </div>  
</a>  {%- endcomment -%}
<a class="gallery-cell"
  style="background: url(/uploads/domestic-violence-women.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/gender-based-violence-on-rise-in-covid-19-era?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">Gender-based violence on the rise</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/south-sudan.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/development-during-quarantine-lessons-from-four-usaid-projects?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>Development During Quarantine</h2>
      <p class="gallery-subhead">Lessons from four USAID projects</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/haiti-diaspora-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/mobilizing-the-haitian-diaspora-to-invest-back-home?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>Mobilizing the Diaspora</h2>
      <p class="gallery-subhead">An investment vehicle to support enterprises in Haiti</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/hero-economic-reform-ukraine.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/stay-the-course-a-decade-of-focus-on-economic-reforms-pays-off-in-ukraine?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>Stay the Course</h2>
      <p class="gallery-subhead">A decade of focus on economic reforms pays off in Ukraine</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/covid-value-chain-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/how-donor-funded-economic-growth-projects-are-adapting-to-the-challenges-of-covid-19?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">How donor-funded economic growth projects are adapting</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/nigeria-resilient-education-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/local-and-national-public-and-private-resilient-education-systems-in-the-covid-19-era?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">Building resilient education systems</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/covid-km-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/how-knowledge-management-helps-make-remote-work-work?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">Making remote work, work</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/covid-financial-services.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/how-can-digital-financial-services-be-utilised-in-response-to-covid-19?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">How can digital financial services respond?</p>
    </div>
  </div>
</a>
<a class="gallery-cell"
  style="background: url(/uploads/land-rights-hero-covid.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"
  href="https://dai-global-developments.com/articles/in-ethiopia-keeping-land-rights-on-the-agenda-through-the-pandemic?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">Keeping land rights on the agenda</p>
    </div> 
  </div>
</a>
<a class="gallery-cell" style="background: url(/uploads/usaid-covid-small.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="https://dai-global-developments.com/articles/usaid-projects-assisting-small-firms-affected-by-covid-19?utm_source=daidotcom">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>COVID-19</h2>
      <p class="gallery-subhead">USAID projects assisting small firms</p>
    </div>
  </div>  
</a> 

<a class="gallery-cell" style="background: url(/uploads/update-last-month-hero.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" href="/last-month">
  <div class="shader">
    <div class="gallery-cell--text">
      <h2>Last Month at DAI</h2>
      <p class="gallery-subhead">A few of our project milestones from October</p>
    </div>
  </div>  
</a>
  
  </div>
  {% endif %}
{%- comment -%} Check for which section we're in and build the right mini-hero for each one — We don't build one for the Careers section because that happens in the careers layout {%- endcomment -%}
{% if page.hero and page.url contains "who-we-are" %}
  {%- if page.url contains "global-reach/dai-nigeria" or page.url contains "global-reach/nigeria" -%}
  <div class="hero-wrap {% if page.url contains "global-reach/dai-nigeria" or page.url contains "global-reach/nigeria"%}our-work{% else %}who-we-are{%endif%}">
    <div class="node-hero">
        <h1 class="hero-title"> {% if page.url contains "global-reach/dai-nigeria" or page.url contains "global-reach/nigeria"%}<a class="hero-title--link" href="/who-we-are/global-reach/dai-nigeria">{{page.title}}</a>{% else %}{{page.title}}{% endif %}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
        {% if page.url contains "global-reach/dai-nigeria" or page.url contains "global-reach/nigeria"%}<p class="section-nav">{%- for nav in site.data.nav-nigeria -%}
          <a class="section-nav--link {% if page.url contains nav.link%}active {% endif %}{% unless forloop.last %}last {% endunless %}" href="{{ nav.link }}">{{ nav.text | upcase }}</a>{% unless forloop.last %}  /  {% endunless %} 
        {%- endfor -%}</p>{% endif %}
    </div>
  </div>
  {%- else if page.url contains "global-reach/european-union-office" or page.url contains "global-reach/european-union"-%}
  <div
    class="hero-wrap {% if page.url contains "global-reach/european-union" or page.url contains "global-reach/european-union-office"%}our-work{% else %}who-we-are{%endif%}">
    <div class="node-hero">
      <h1 class="hero-title">
        {% if page.url contains "global-reach/european-union" or page.url contains "global-reach/european-union-office"%}<a
          class="hero-title--link"
          href="/who-we-are/global-reach/european-union">{{page.title}}</a>{% else %}{{page.title}}{% endif %}</h1>
      <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
      {% if page.url contains "global-reach/european-union" or page.url contains "global-reach/european-union-office"%}<p
        class="section-nav">{%- for nav in site.data.europe-nav -%}
        <a class="section-nav--link {% if page.url contains nav.link%}active {% endif %}{% unless forloop.last %}last {% endunless %}"
          href="{{ nav.link }}">{{ nav.text | upcase }}</a>{% unless forloop.last %} / {% endunless %}
        {%- endfor -%}</p>{% endif %}
    </div>
  </div>
  {%- endif -%}
{% elsif page.hero and page.url contains "our-work" %}
  <div class="hero-wrap our-work">
    <div class="node-hero">
    {%- comment -%} This spaggetti of logic is HORRIBLE. Find a way to reduce the complexity here 
    
    - if the page is a primary solution?
      |> then show the page icon
    - if the page is a Solution page AND is NOT a primary Solution page
      |> then assign to SOLUTION the first site.solution with a title that matches the pages first Solution
      |> print SOLUTION's icon
      |> include a link to the solutions main page in the title
      - if the page is a sub-solution of Digital-Acceleration 
        |> print 'Center for Digital Acceleration' (this is a workaround that lets us keep the solution title solution like, but still lets their page have the more nuanced name)
      - else
        |> print the solutions title 
    - if the page is Digital-Acceleration
      |> print 'Center for Digital Acceleration' (we do this again here because the Digital Acceleration solution has a primary page as well as non-primary pages)
    - if SOLUTION has been populate above
      |> print the SOLUTION's summary—pull out p tags etc.
    - if we're on the Global Health primary solution, print a call out to sign up to the newsletter
      {%- endcomment -%}
        <h1 class="hero-title">{% if page.type == "primary" %}{{ page.icon }} {% endif %}{% if page.layout == "solution" and page.type != "primary" %}{% assign solution = site.solutions | where_exp:"item","item.title == page.solutions[0]" %}{{ solution[0].icon }}  {% if page.url contains "digital-acceleration" %}<a class="hero-title--link" href="/our-work/solutions/digital-acceleration">Center for Digital Acceleration</a> {% else %}<a class="hero-title--link" href="/{{ solution[0].permalink }}">{{ solution[0].title }}</a>{% endif %} {% else %}{% if page.title == "Digital Acceleration" %}Center for Digital Acceleration{% else %}{{page.title}}{% endif %}{% endif %}</h1>
        <p class="hero-excerpt">{% if solution %} {{ solution[0].summary | markdownify | remove:"<p>" | remove:"</p>"}}{%else%}{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}{%endif%}{%if page.title == 'Global Health'%} <br><span style="font-size: .8rem;"><a href="/sign-up">Subscribe</a> to our newsletter for periodic updates from DAI Global Health.</span> {% endif %}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "publications" %}
  <div class="hero-wrap publications">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% elsif page.hero and page.url contains "/covid-19" %}
<div class="hero-wrap covid">
  <div class="node-hero">
      <h1 class="hero-title"><a class="hero-title--link" href="/covid-19">
        <svg class="covid-badge badge" viewBox="0 0 512 512" preserveAspectRatio="xMinYMax
    meet"><use xlink:href="#covid"></use></svg> {{page.title}}
      </a></h1>
      <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
      <p class="section-nav">{%- for nav in site.data.nav-covid -%}
          <a class="covid-nav section-nav--link {% if page.url contains nav.parent%}active {% endif %}{% unless forloop.last %}last {% endunless %}" href="{{ nav.link }}">{{ nav.text | upcase }}</a>{% unless forloop.last %}  /  {% endunless %} 
        {%- endfor -%}</p>
  </div>
</div>
{% elsif page.hero and page.url contains "news" %}
  <div class="hero-wrap news">
    <div class="node-hero">
        <h1 class="hero-title">{{page.title}}</h1>
        <p class="hero-excerpt">{{page.summary | markdownify | remove:"<p>" | remove:"</p>"}}</p>
    </div>
  </div>
{% endif %}
  {% unless page.careers == true %}
      <div class="container content {% if page.title == 'Home' %} home {% endif %}{% if page.url contains 'news/' or page.url contains 'projects/' or page.url contains 'our-team/' or page.url contains 'leadership/' or page.url contains 'solutions/' or page.url contains 'covid-19' %} container-node {% endif %}{% if page.hero %} hero{% endif %}">
  {% endunless %}
      {% if page.collection == 'news' %}<h1>{{ page.title }}</h1>{% endif %}
        {{ content }}
        {% if  page.collection == 'news' or page.collection == 'projects' or page.collection == 'experts'%}
          {% include  related.html %}
        {% elsif page.layout == 'node' or page.layout == 'solution' %}
          {% unless page.related == false %}
            {% include  related.html %}
          {% endunless %}
        {% endif %}
  {% unless page.careers == true %}
    </div>
  {% endunless %} 
      {% include footer.html %}
    </div>
  </body> 
</html>
