---
layout: default
---

{% comment %} {% include node-nav-block.html %}  {% endcomment %}
{%- if page.featuresection == 'covid' -%}
<div class="covid-news-wrapper">
  <ul>
  <li class="covid-list-item"><a class="covid-item-link" href="/news/usaid-program-develops-tool-to-support-covid-19-tracking-in-haiti"><div class="covid-item-image" style="background-image: url(https://assetify-dai.com/covid-news/haiti.jpg);"></div><span class="covid-item-text">USAID Program Develops Tool to Support COVID-19 Tracking in Haiti</span></a></li>
  <li class="covid-list-item"><a class="covid-item-link" href="/news/usaid-assisted-palestinian-firm-helps-serve-covid-19-needs"><div class="covid-item-image" style="background-image: url(https://assetify-dai.com/covid-news/palestine.jpg);"></div><span class="covid-item-text">USAID-Assisted Palestinian Firm Pivots to Meet Critical COVID-19 Needs</span></a></li>
   <li class="covid-list-item"><a class="covid-item-link" href="https://dai-global-developments.com/articles/covid-19-low-cost-solutions-to-maintain-engagement-with-local-partners-in-the-supply-chain?utm_source=daidotcom"><div class="covid-item-image" style="background-image: url(https://assetify-dai.com/covid-news/sbg-1.jpg);"></div><span class="covid-item-text">COVID-19: Low-Cost Solutions to Maintain Engagement with Local Partners in the Supply Chain</span></a></li>
   <li class="covid-list-item"><a class="covid-item-link" href="https://dai-global-digital.com/covid-19-data-analysis-part-3-rethinking-the-global-health-security-index.html?utm_source=daidotcom"><div class="covid-item-image" style="background-image: url(https://assetify-dai.com/covid-news/data-1.jpg);"></div><span class="covid-item-text">Data Analysis, Part 3: Rethinking the Global Health Security Index</span></a></li>
  </ul>
</div>
{%- endif -%}
<div class="node-inner">
  {% comment %} <h1>{{ page.title }}</h1> {% endcomment %}
  {% if page.url contains 'news/' %}
  <p class="news-date">{{ page.date | date: "%B %d, %Y" }}</p>
  {% endif %}
  {{ content }}
</div>
{% if page.promos %}
  {% if page.promos[0].title.size >1 %}
  <div class="promos-list">
    <h4>Featured Links</h4>
  {% for promo in page.promos %}
    <div class="promo-item">
          <p class="promo-item--title"><a href="{{ promo.link }}" class="promo-item--link">{{ promo.title | markdownify | remove:"<p>" | remove:"</p>" }}</a></p>
        </a>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endif %}