---
layout: default
---

{% comment %} {% include node-nav-block.html %}  {% endcomment %}
{% if page.ultrawide == true %}
<div class="covid-news-wrapper">
  <ul>
    <li class="covid-list-item"><a class="covid-item-link"
        href="https://www.dai.com/our-work/projects/worldwide-trade-private-sector-development-and-engagement-and-regional-integration-facility">
        <div class="covid-item-image"
          style="background-image: url(/uploads/tpsd-thmbnail.jpg);"></div>
        <span class="covid-item-text">Worldwide—Trade, Private Sector Development, and Engagement (TPSD/E) Facility</span>
      </a>
    </li>
    <li class="covid-list-item"><a class="covid-item-link"
    href="https://www.dai.com/our-work/projects/worldwide-the-invest-project">
    <div class="covid-item-image"
      style="background-image: url(/uploads/invest-thumbnail-cop.jpg);"></div>
    <span class="covid-item-text">Worldwide—INVEST</span>
  </a>
</li>
<li class="covid-list-item"><a class="covid-item-link"
href="https://www.dai.com/our-work/projects/worldwide-market-systems-and-partnerships-msp">
<div class="covid-item-image"
  style="background-image: url(/uploads/feed-the-future-thumb-cop.jpg);"></div>
<span class="covid-item-text">Worldwide—Feed the Future Market Systems and Partnerships (MSP)</span>
</a>
</li>
<li class="covid-list-item"><a class="covid-item-link"
href="/news/dai-magister-the-leading-capital-advisor-and-investment-bank-for-international-and-emerging-markets">
<div class="covid-item-image"
  style="background-image: url(/uploads/dai-magister-thumb-cop.jpg);"></div>
<span class="covid-item-text">DAI Magister: The Leading Capital Advisor and Investment Bank for International and Emerging Markets</span>
</a>
</li>
  </ul>
</div>
{% endif %}
{%- if page.featuresection == 'covid' -%}
<div class="covid-news-wrapper">
  <ul>
<li class="covid-list-item"><a class="covid-item-link"
    href="https://dai-global-developments.com/articles/zimbabwe-agriculture-project-finds-ways-to-engage-smallholder-farmers-despite-covid-19?utm_source=daidotcom">
    <div class="covid-item-image"
      style="background-image: url(https://dai-global-developments.com/uploads/sm%201.jpg);"></div>
    <span class="covid-item-text">Zimbabwe Agriculture Project Finds Ways to Engage Smallholder Farmers, Despite
      COVID-19</span>
  </a></li>
<li class="covid-list-item"><a class="covid-item-link"
    href="/news/new-public-health-emergency-coordination-system-will-strengthen-pandemic-response-in-southeast-asia">
    <div class="covid-item-image"
      style="background-image: url(/uploads/800px-ASEAN_Embleme%20copy.png);"></div>
    <span class="covid-item-text">New Public Health Emergency Coordination System Will Strengthen Pandemic Response in Southeast Asia</span>
  </a></li>
<li class="covid-list-item"><a class="covid-item-link"
    href="https://dai-global-developments.com/articles/strengthening-the-covid-19-response-and-protecting-health-services-in-uganda?utm_source=daidotcom">
    <div class="covid-item-image"
      style="background-image: url(https://dai-global-developments.com/uploads/sm%20Chad_cso_dissemination.jpg);"></div>
    <span class="covid-item-text">Why Aligning with the SDGs Helps Energy Companies Position for Growth, and How to Do
      It</span>
  </a></li>
  <li class="covid-list-item"><a class="covid-item-link"
    href="https://dai-global-developments.com/articles/a-shift-in-mindset-distance-learning-during-covid-19-boosts-participation-in-honduras?utm_source=daidotcom">
    <div class="covid-item-image"
      style="background-image: url(https://dai-global-developments.com/uploads/sm%20Nolvia%20Lizeth%20Aguilar%20Espinal_Ca%CC%81mara%20Junior_24%20April%202020.jpg);"></div><span
      class="covid-item-text">A Shift in Mindset: Distance Learning during COVID-19 Boosts Participation in Honduras</span>
  </a></li>
  <!-- <li class="covid-list-item"><a class="covid-item-link"
  href="https://dai-global-developments.com/articles/usaid-supported-enterprise-in-ukraine-repairs-lung-ventilators-for-use-in-covid-19-crisis?utm_source=daidotcom">
  <div class="covid-item-image"
  style="background-image: url(https://assetify-dai.com/covid-news/ventilators.jpg);"></div><span
  class="covid-item-text">USAID-Supported Enterprise in Ukraine Repairs Lung Ventilators for Use in COVID-19 Crisis</span>
  </a></li> -->
  <li class="covid-list-item"><a class="covid-item-link" href="https://dai-global-developments.com/articles/commercializing-agricultural-innovations-in-the-age-of-covid-19?utm_source=daidotcom"><div class="covid-item-image" style="background-image: url(https://dai-global-developments.com/uploads/ProsectFeed_Larvae%20SM.jpg);"></div><span class="covid-item-text">Commercializing Agricultural Innovations in the Age of COVID-19</span></a></li>
  <li class="covid-list-item"><a class="covid-item-link" href="https://dai-global-developments.com/articles/gender-based-violence-on-rise-in-covid-19-era"><div class="covid-item-image" style="background-image: url(https://dai-global-developments.com/uploads/slide%201.png);"></div><span class="covid-item-text">Gender-Based Violence on the Rise in the COVID-19 Era</span></a></li>
  <li class="covid-list-item"><a class="covid-item-link" href="https://dai-global-developments.com/articles/development-during-quarantine-lessons-from-four-usaid-projects"><div class="covid-item-image" style="background-image: url(https://dai-global-developments.com/uploads/REACT-Liberia.jpg);"></div><span class="covid-item-text">Development During Quarantine: Lessons from Four USAID Projects</span></a></li>
  </ul>
</div>
{%- endif -%}
<div class="node-inner">
  {% comment %} <h1>{{ page.title }}</h1> {% endcomment %}
  {% if page.url contains 'news/' %}
  <p class="news-date">{{ page.date | date: "%B %d, %Y" }}</p>
  {% endif %}
  {{ content }}
</div>
{% if page.promos %}
  {% if page.promos[0].title.size >1 %}
  <div class="promos-list">
    <h4>Featured Links</h4>
  {% for promo in page.promos %}
    <div class="promo-item">
          <p class="promo-item--title"><a href="{{ promo.link }}" class="promo-item--link">{{ promo.title | markdownify | remove:"<p>" | remove:"</p>" }}</a></p>
        </a>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endif %}