---
layout: default
---
{% include node-nav-block.html %}
<h1 class="project-name">{{ page.title }}</h1>
<div class ="project-details">
<p class="project-detail"><strong>Client:</strong> <a href="/our-work/projects/{% for client in site.clients %}{% if page.client == client.title %}{{ client.abbr | downcase }}{% endif %}{% endfor %}/">{{ page.client }}</a></p>
<p class="project-detail"><strong>Contract: </strong>{{ page.start-date }}-{{ page.end-date }}</p>
<p class="project-detail"><strong>Region:</strong>
  {% for locale in page.regions.first %}
    {% for region in site.regions %}
      {% if locale == region.title %}
        <a href="{{region.url}}">{{ region.title }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</p>
<p class="project-detail"><strong>Country:</strong> {{ page.country }}</p>
<p class="project-detail"><strong>Technical Focus:</strong>
  {% assign primary_solutions = site.solutions | where:"type","primary" %}
  {% for solution in primary_solutions %}
    {% for project_solution in page.solutions %}
      {% if solution == project_solution %}
        <a href="/our-work/projects/{{ projectsolution | downcase | split:" " | join:"-" }}/">{{ projectsolution }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
    <!-- {% assign projectsolutions = "" | split:"" %}
    {% for solution in page.solutions %}
    {% for solutiondeets in primary_solutions %}
      {% if solution == solutiondeets.title %}
        {% assign projectsolutions = projectsolutions | push:solution %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for projectsolution in projectsolutions %}
    {% if projectsolution == projectsolutions.last %}
      <a href="/our-work/projects/{{ projectsolution | downcase | split:" " | join:"-" }}/">{{ projectsolution }}</a>
    {% else %}
    <a href="/our-work/projects/{{ projectsolution | downcase | split:" " | join:"-" }}/">{{ projectsolution }}</a> |
    {% endif %}
  {% endfor %} -->
</p>
</div>
{{ content }}
