---
layout: default
---
{% include node-nav-block.html %}
<h1>{{ page.title }}</h1>
<p class="project-detail">{{ page.client }} | {{ page.start-date }}-{{ page.end-date }}</p>
<p class="project-detail">Technical Focus:
  {% for solution in page.solutions %}
    {% if solution == page.solutions.last %}
      {% for solutiondeets in site.data.solutions %}
        {% if solution == solutiondeets.text %}
          <a href="{{ solutiondeets.path }}">{{ solutiondeets.text }}</a>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for solutiondeets in site.data.solutions %}
        {% if solution == solutiondeets.text %}
          <a href="{{ solutiondeets.path }}">{{ solutiondeets.text }}</a> |
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</p>
<p class="project-detail">Geographic Focus:
  {% for region in page.regions %}
    {% if region == page.regions.last %}
      {% for regiondeets in site.data.regions %}
        {% if region == regiondeets.text %}
          <a href="{{ regiondeets.path }}">{{ regiondeets.text }}</a>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for regiondeets in site.data.regions %}
        {% if region == regiondeets.text %}
          <a href="{{ regiondeets.path }}">{{ regiondeets.text }}</a>,
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</p>
<hr>
{{ content }}
