---
layout: default
---
{% if page.parent == "working-dai" %}
  <div class="node-nav working-dai">
    <div class="node-nav--links">
      <h4>Working with DAI</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-working %}
          <li class="rail-nav-link"><a href="{{ nav.link }}" class="{% if page.url contains nav.link %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% if page.parent == "who-we-are" %}
  <div class="node-nav who-we-are">
    <div class="node-nav--links">
      <h4>Who We Are</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-who %}
          <li class="rail-nav-link"><a href="{{ nav.link }}" class="{% if page.url contains nav.link  %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% if page.parent == "our-work" %}
  <div class="node-nav our-work">
    <div class="node-nav--links">
      <h4>Our Work</h4>
      <ul class="rail-nav-links">
        {% for nav in site.data.nav-main-our %}
          <li class="rail-nav-link"><a href="{{ nav.link }}" class="{% if page.url contains nav.link  %}{{ "active" }}{% endif %}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
<h1>{{ page.title }}</h1>
{{ content }}
<h3>Project Details</h3>
<ul class="project-details">
  <li>Client: <strong>{{ page.client }}</strong></li>
  <li>Contract: <strong>{{ page.start-date }}-{{ page.end-date }}</strong></li>
  <li>Technical Focus:
    {% for solution in page.solutions %}
      {% if solution == page.solutions.last %}
        <strong>{{ solution }}</strong>
        {% else %}
        <strong>{{ solution }},</strong>
      {% endif %}
    {% endfor %}</li>
  <li>Geographic Focus: {% for region in page.regions %}
    {% if region == page.regions.last %}
      <strong>{{ region }}</strong>
      {% else %}
      <strong>{{ region }},</strong>
    {% endif %}
  {% endfor %}</li>
</ul>
