---
layout: default
---

{% comment %} {% include node-nav-block.html %} {% endcomment %}
<div class="node-inner">
{% if page.type == 'primary' %}

  {% else %}
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
    {% for solution in page.solutions %}
      {% for primary_solution in primary_solutions  %}
        {% if solution == primary_solution.title %}
          <h1 class="solution-title">{{ page.title }}</h1>
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endif %}
{{ content }}
{% unless page.type == 'primary' %}
  {% include solution-queries.html %}
{% endunless %}
</div>
{% if page.promos %}
  {% if page.promos[0].title.size >1 %}
  <div class="promos-list">
    <h4>Featured Links</h4>
  {% for promo in page.promos %}
    <div class="promo-item">
          <p class="promo-item--title"><a href="{{ promo.link }}" "class="promo-item--link">{{ promo.title | markdownify | remove:"<p>" | remove:"</p>" }}</a></p>
        </a>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endif %}
