---
layout: default
---

{% comment %} {% include node-nav-block.html %} {% endcomment %}
<div class="node-inner">
{% if page.type == 'primary' %}

  {% else %}
    {% assign primary_solutions = site.solutions | where:"type","primary" %}
    {% for solution in page.solutions %}
      {% for primary_solution in primary_solutions  %}
        {% if solution == primary_solution.title %}
        {% unless solution == 'DAI Capital' %}
          <h1 class="solution-title">{{ page.title }}</h1>
        {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endif %}
{{ content }}
{% unless page.type == 'primary' or page.url contains 'our-work/solutions/climate-videos' or page.url contains 'cda-insights' or page.url contains '/climate-cop' or page.url contains 'dai-capital'%}
  {% include solution-queries.html %}
{% endunless %}
</div>
{% if page.url contains 'our-work/solutions/global-health' %}
  <div class="covid-news-wrapper">
    <ul>
      <li class="covid-list-item"><a class="covid-item-link"
          href="/uploads/global-health-overview.pdf">
          <div class="covid-item-image" style="background-image: url(/uploads/gh-flyer-thumb.png);"></div>
          <span class="covid-item-text">Global Health Overview</span>
        </a>
      </li>
      <li class="covid-list-item"><a class="covid-item-link"
        href="/our-work/the-projects?filter=global-health">
        <div class="covid-item-image" style="background-image: url(/uploads/health-impact.png);"></div>
        <span class="covid-item-text">Our Impact</span>
      </a>
      </li>
    </ul>
  </div>
{% endif %}
{% if page.title == 'Sustainable Business' or page.title == 'Entrepreneurship & Innovation' %}
<div class="covid-news-wrapper">
  <ul>
    <li class="covid-list-item"><a class="covid-item-link"
      href="https://www.dai.com/news/dai-publishes-review-of-us-offshore-wind-local-content-requirements">
      <div class="covid-item-image" style="background-image: url('/uploads/wind-report-thumb.png');"></div>
      <span class="covid-item-text">Local Content Requirements for U.S. Offshore Wind Projects</span>
    </a>
    </li>
    <li class="covid-list-item"><a class="covid-item-link"
        href="/our-work/solutions/sustainable/training/master-class">
        <div class="covid-item-image" style="background-image: url(/uploads/new-masterclass-promo.jpg);"></div>
        <span class="covid-item-text">Local Content Masterclass</span>
      </a></li>
    <li class="covid-list-item"><a class="covid-item-link" href="https://smp.dai.com/">
        <div class="covid-item-image" style="background-image: url(/uploads/supplier-portal-promo.jpg);"></div>
        <span class="covid-item-text">Connecting buyers from the global supply chain with local suppliers.</span>
      </a></li>
  </ul>
</div>
{% endif %}
{% if page.title == 'DAI Capital' and page.type == 'primary' %}
<div class="covid-news-wrapper">
  <ul>
    <li class="covid-list-item"><a class="covid-item-link" href="https://www.dai.com/who-we-are/leadership/gavin-wilson">
      <div class="covid-item-image" style="background-image: url(/uploads/new-gavin.png);"></div>
      <span class="covid-item-text">Gavin Wilson, CEO of DAI Capital</span>
    </a></li>
  </ul>
</div>
{% endif %}
{% if page.url == '/our-work/solutions/dai-capital-australia' %}
<div class="covid-news-wrapper">
  <ul>
    <li class="covid-list-item"><a class="covid-item-link" href="https://www.dai.com/who-we-are/our-team/stephen-moss">
      <div class="covid-item-image" style="background-image: url(/uploads/StephenMoss.png);"></div>
      <span class="covid-item-text">Stephen Moss, Executive Chairman, DAI Capital Australia</span>
    </a></li>
    <li class="covid-list-item"><a class="covid-item-link" href="https://www.dai.com/who-we-are/our-team/scott-roantree">
      <div class="covid-item-image" style="background-image: url('/uploads/scott_profilephoto%20(002).jpeg');"></div>
      <span class="covid-item-text">Scott Roantree, CEO, DAI Capital Australia</span>
    </a></li>
  </ul>
  <a href="/who-we-are/the-team?filter=dai-capital-australia" target="blank" class="primary-block--button covid-button" style="margin-left: 2rem; width: auto;">Our Team <svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
</div>
{% endif %}
{% if page.title == 'Climate' %}
{%  if page.url contains "climate-cop"  %}
    <div class="covid-news-wrapper">
      <h2 style="text-align: center;">See us at COP27</h2>
    <ul>
      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/zac-bull">
        <div class="covid-item-image" style="background-image: url(/uploads/Zac-a1e373.jpg);"></div>
        <span class="covid-item-text">Zac Bull, Senior Manager</span>
      </a></li>
      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/nadya-boneva">
        <div class="covid-item-image" style="background-image: url(/uploads/nadya-profile.png);"></div>
        <span class="covid-item-text">Nadya Boneva, Senior Global Practice Leader</span>
      </a></li>
      <li class="covid-list-item"><a class="covid-item-link" href="https://www.linkedin.com/in/marcdeschamps1708/">
        <div class="covid-item-image" style="background-image: url(/uploads/marc-dechamps.png);"></div>
        <span class="covid-item-text">Marc Deschamps, Co Head at DAI Magister</span>
      </a></li>

      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/jette-findsen">
        <div class="covid-item-image" style="background-image: url(/uploads/1%20Jette.jpg);"></div>
        <span class="covid-item-text">Jette Findsen, Vice President, Environment</span>
      </a></li>
      
      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/colleen-green">
        <div class="covid-item-image" style="background-image: url(/uploads/Colleen%20Green%20headshot.png);"></div>
        <span class="covid-item-text">Colleen Green, Vice President, Economic Growth</span>
      </a></li>
      
      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/donald-lunan">
        <div class="covid-item-image" style="background-image: url(/uploads/Donald%20Lunan.png);"></div>
        <span class="covid-item-text">Donald Lunan, Global Director for Climate</span>
      </a></li>

      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/sofia-martinez">
        <div class="covid-item-image" style="background-image: url(/uploads/Photo%20Sofia%20Martinez%20headshot.jpg);"></div>
        <span class="covid-item-text">Sofia Martinez, Principal, Climate</span>
      </a></li>

      <li class="covid-list-item"><a class="covid-item-link" href="/who-we-are/our-team/catherine-wallis">
        <div class="covid-item-image" style="background-image: url(/uploads/Catherine%20Wallis.jpeg);"></div>
        <span class="covid-item-text">Catherine Wallis, Principal Consultant, Climate</span>
      </a></li>

    </ul>
  </div>
{%  else  %}
    <div class="covid-news-wrapper">
    <ul>
      <li class="covid-list-item"><a class="covid-item-link" href="/uploads/energy-technical-services.pdf">
        <div class="covid-item-image" style="background-image: url(/uploads/energy-technical-services.png);"></div>
        <span class="covid-item-text">DAI and Energy</span>
      </a></li>
        <li class="covid-list-item"><a class="covid-item-link" href="https://dai-assets.s3.us-east-1.amazonaws.com/our-work/Climate%20Mitigation%20Flyer%20A4.pdf">
            <div class="covid-item-image" style="background-image: url(/uploads/climate-mitigation-promo.jpg);"></div>
            <span class="covid-item-text">DAI and Climate Change Mitigation</span>
          </a></li>
      <li class="covid-list-item"><a class="covid-item-link"
          href="/uploads/climate-flyer-2021.pdf">
          <div class="covid-item-image"
            style="background-image: url(/uploads/climate-flyer-promo-image.jpg);"></div>
          <span class="covid-item-text">DAI and Climate Adaptation</span>
        </a></li>
      <li class="covid-list-item"><a class="covid-item-link"
      href="https://dai-assets.s3.amazonaws.com/our-work/Climate%20and%20Biodiversity%20spreads.pdf">
      <div class="covid-item-image"
        style="background-image: url(/uploads/climate-and-biodiversity.jpg);"></div>
      <span class="covid-item-text">Climate and Biodiversity</span>
    </a></li>
    </ul>
  </div>
{% endif %}
{% endif %}
  {% if page.title == 'DAI in Pakistan' %}
  <div class="covid-news-wrapper">
    <ul>
      <li class="covid-list-item"><a class="covid-item-link"
          href="https://dai-assets.s3.us-east-1.amazonaws.com/our-work/Pakistan_Timeline_03.pdf">
          <div class="covid-item-image" style="background-image: url(/uploads/pakistan-flier.jpg);"></div>
          <span class="covid-item-text">DAI in Pakistan</span>
        </a></li>
    </ul>
  </div>
  {%- elsif page.title == "DAI in Oman" -%}
  <div class="covid-news-wrapper">
    <ul>
      <li class="covid-list-item"><a class="covid-item-link"
          href="/who-we-are/our-team/chris-macdonald">
          <div class="covid-item-image" style="background-image: url(/uploads/chris-macdonald-promo.png);"></div>
          <span class="covid-item-text">Chris MacDonald, Managing Director, Oman and GCC Countries</span>
        </a></li>
    </ul>
  </div>
  {% elsif page.promos %}
    {% if page.promos[0].title.size >1 %}
    <div class="promos-list">
      <h4>Featured Links</h4>
    {% for promo in page.promos %}
      <div class="promo-item">
            <p class="promo-item--title"><a href="{{ promo.link }}" "class="promo-item--link">{{ promo.title | markdownify | remove:"<p>" | remove:"</p>" }}</a></p>
          </a>
      </div>
    {% endfor %}
    </div>
    {% endif %}
{% endif %}