h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  @extend .transition-basic;
  text-decoration: none;
  outline: none;
}

body {
  color: $main-body-color;
  padding-top: 125px;
  @media (max-width: 799px) {
    padding-top: 110px;
  }
  @media (max-width: 599px) {
    padding-top: 90px;
  }
  @media (max-width: 479px) {
    padding-top: 60px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary_font;
}

.container {
  overflow: hidden;
  @media (max-width: 599px) {
    width: 100%;
  }
}

.row {
  @media (max-width: 991px) {
    margin-right: 0px;
    margin-left: 0px;
  }
}



html {
  line-height: 1.5;
  font-size: 10px
}
@media screen and (min-width: 480px) {
  html { font-size: 14px }
}
@media screen and (min-width: 600px) {
  html { font-size: 15px} 
}
@media screen and (min-width: 800px) {
  html { font-size: 18px }
}